﻿@model Swane.Models.UserModel
@{
    ViewData["Title"] = "ผู้ใช้งาน";
    Layout = "~/Views/Main/Index.cshtml";
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">เพิ่มผู้ใช้งาน</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="User/Add" method="post">
                <div class="modal-body">

                    <label for="inputEmail" class="sr-only">ชื่อสินค้า</label>
                    @Html.TextBoxFor(n => n.UserName, "", new { @class = "form-control", placeholder = "ชื่อผู้ใช้งาน" })
                    <br>
                    <label for="inputEmail" class="sr-only">จำนวนต่อลัง</label>
                    @Html.TextBoxFor(n => n.Password, "", new { @class = "form-control", @type = "password", placeholder = "รหัสผ่าน" })
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                    <button type="submit" class="btn btn-primary">บันทึก</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="card" style="margin:10px">
    <div class="card-body">
        <h5 class="card-title">ข้อมูล</h5>

        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">เพิ่มผู้ใช้งาน</button>
        <br />
        <br />
        <table id="table_id" class="display">
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable(
            {
                "processing": true,
                //"serverSide": true,
                "pageLength": 10,
                "ajax": {
                    "url": "/api/UserApi/GetUser",
                    "type": "GET",
                    'beforeSend': function (request) {
                        //  request.setRequestHeader("Content-Type", "application/json");
                    }

                },
                "columns": [
                    {
                        "data": "id", "title": "รหัส"
                    },
                    {
                        "data": "userName", "title": "ชื่อผู้ใช้งาน"
                    },
                    {
                        data: "id",
                        "title": "เปลี่ยนรหัสผ่าน",
                        render: function (data, type, row) {
                            return '<button class="btn btn-primary" onclick="changePassword(' + data + ')">เปลี่ยนรหัสผ่าน</button>';
                        }
                    },
                    {
                        data: "id",
                        "title": "ลบ",
                        render: function (data, type, row) {
                            return '<button class="btn btn-danger" onclick="deleteProduct(' + data + ')">ลบ</button>';
                        }
                    }
                ]
            }
        );
    });
    function deleteProduct(id) {
        $.get("https://login.wframwork.com/api/User/DeleteUserSwane?userId="+id, function (data, status) {
            // alert("Data: " + data + "\nStatus: " + status);
            location.reload();
        });
       // location.reload();
    }
    function changePassword(id) {
        var tenure = prompt("กรุณาใส่รหัสผ่านที่ต้องการ", "");

        if (tenure != null) {
            $.get("https://login.wframwork.com/api/User/ChangePasswordBySwane?userId=" + id + "&NewPassword=" + tenure, function (data, status) {
                // alert("Data: " + data + "\nStatus: " + status);
                location.reload();
            });
        }
        // location.reload();
    }

    
</script>

