﻿
@{
    Layout = null;
}

<form action='@(ViewData["url"])/2C2PFrontEnd/SecurePayment/PaymentAuth.aspx' method='POST' name='paymentRequestForm'>
    Processing payment request, Do not close the browser, press back or refresh the page.

    @Html.Hidden("paymentRequest", ViewData["payload"])
</form>
<script language="JavaScript">
	document.paymentRequestForm.submit();	//submit form to 2c2p PGW
</script>