﻿
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>

<head>
    <title>Credit Card</title>

    <!-- Styles -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form class="credit-card" id="2c2p-payment-form" method="post" action="Card2C2P/AddCard">
        <div class="form-header">
            <h4 class="title">Credit card detail</h4>
        </div>

        <div class="form-body">
            <!-- Card Number -->
            <input type="text" data-encrypt="cardnumber" class="card-number" name="Card" placeholder="Card Number">

            <input type="text" class="card-number" name="CardHolder" placeholder="Card Name">

            <h4 class="title">Exprire date</h4>
            <!-- Date Field -->
            <div class="date-field">
                <div class="month">
                    <select name="ExpMonth" data-encrypt="month">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>

                <div class="year">
                    @Html.DropDownList("ExpYear", (IEnumerable<SelectListItem>)ViewData["Year"], "", new { data_encrypt = "year" })

                </div>
            </div>

            <!-- Card Verification Field -->
            <div class="card-verification">
                <div class="cvv-input">
                    

                    <input type="password" data-encrypt="cvv" maxlength="4" autocomplete="off" placeholder="CVV2/CVC2"><br />
                </div>
                <div class="cvv-details">
                    <p>3 or 4 digits usually found <br> on the signature strip</p>
                </div>
            </div>
            @Html.Hidden("ApiUser",ViewData["ApiUser"])
            <!-- Buttons -->
            <button type="submit" class="proceed-btn"><a href="#">Proceed</a></button>

        </div>
    </form>
    <script type="text/javascript" src="https://demo2.2c2p.com/2C2PFrontEnd/SecurePayment/api/my2c2p.1.6.9.min.js"></script>
    <script type="text/javascript">
        My2c2p.onSubmitForm("2c2p-payment-form", function (errCode, errDesc) {
            if (errCode != 0) {
                alert(errDesc + " (" + errCode + ")");
            }
        });
    </script>
</body>

</html>
