﻿
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>

<head>
    <title>Credit Card</title>

    <!-- Styles -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/site.css">
    <meta name="robots" content="noindex,follow" />
</head>

<body>
    <form class="credit-card-reurn" id="2c2p-payment-form" method="post" action="Card2C2P/AddCard">
        <div class="form-header">
            <h4 class="title">ชำระเงินเรียบร้อย</h4>
        </div>

    </form>

</body>

</html>
