﻿@model Swane.Models.UserModel
@{
    ViewData["Title"] = "ข้อมูลตัวแทน";
    Layout = "~/Views/Main/Index.cshtml";
}


<div class="card" style="margin:10px">
    <div class="card-body">
        <h5 class="card-title">ข้อมูล</h5>

        <table id="table_id" class="display">
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable(
            {
                "processing": true,
                //"serverSide": true,
                "pageLength": 10,
                "ajax": {
                    "url": "/api/UserApi/GetUserRegister",
                    "type": "GET",
                    'beforeSend': function (request) {
                        //  request.setRequestHeader("Content-Type", "application/json");
                    }

                },
                "columns": [
                    {
                        "data": "userId", "title": "รหัสตัวแทน",
                        render: function (data, type, row) {
                            return 'S'+data;
                        }
                    },
                    {
                        "data": "name", "title": "ชื่อ-นามสกุล"
                   
                    },
                    {
                        "data": "nickName", "title": "ชื่อเล่น"
                    },
                    {
                        "data": "idCard", "title": "เลขที่ประชาชน"
                    },
                    {
                        "data": "address", "title": "ที่อยู่"
                    },
                    {
                        "data": "tel", "title": "เบอร์โทร"
                    },
                    {
                        "data": "imageFile", "title": "รูปภาพ",
                        render: function (data, type, row) {
                            return '<a class="btn btn-primary" href="http://203.150.107.134:9003/api/Upload/GetImage?Cuscode=SWANE-001&id='+data+'">คลิก</button>';
                        }
                    },
                    {
                        "data": "idCardFile", "title": "รูปบัตรประชาชน",
                        render: function (data, type, row) {
                            return '<a class="btn btn-primary" href="http://203.150.107.134:9003/api/Upload/GetImage?Cuscode=SWANE-001&id='+data+'">คลิก</button>';
                        }
                    },
                    {
                        "data": "parentName", "title": "แม่ทีม"
                    },

                    {
                        data: "id",
                        "title": "เปลี่ยนรหัสผ่าน",
                        render: function (data, type, row) {
                            return '<button class="btn btn-primary" onclick="changePassword(' + data + ')">เปลี่ยนรหัสผ่าน</button>';
                        }
                    },

                    {
                        data: "id",
                        "title": "แก้ไขข้อมูล",
                        render: function (data, type, row) {
                            return '<a class="btn btn-primary" href="Register/UpdateProfile?id='+data+'" target="_blank">แก้ไข</a>';
                        }
                    },
                  
                    {
                        data: "id",
                        "title": "ลบ",
                        render: function (data, type, row) {
                            return '<button class="btn btn-danger" onclick="deleteProduct(' + data + ')">ลบ</button>';
                        }
                    }
                ]
            }
        );
    });
    function changePassword(id) {
        var tenure = prompt("กรุณาใส่รหัสผ่านที่ต้องการ", "");

        if (tenure != null) {
            $.get("https://login.wframwork.com/api/User/ChangePasswordBySwane?userId=" + id + "&NewPassword=" + tenure, function (data, status) {
                // alert("Data: " + data + "\nStatus: " + status);
                location.reload();
            });
            // location.reload();
        }
    }

    function deleteProduct(id) {
   
        $.get("https://login.wframwork.com/api/User/DeleteUserSwane?userId=" + id, function (data, status) {
                // alert("Data: " + data + "\nStatus: " + status);
                location.reload();
            });
        
        // location.reload();
    }

</script>

