﻿@{
    ViewData["Title"] = "หน้าแรก";
    Layout = "~/Views/Main/Index.cshtml";
}

<div class="card" style="margin:10px">


    <div class="card-body">
        <h5 class="card-title">แบบประเมิน</h5>
        <table id="table_id" class="display">
        </table>
    </div>
</div>


<div class="card" style="margin:10px">
    <div class="card-body">
        <h5 class="card-title">แบบประเมินผู้อื่น</h5>
        <table id="table_id2" class="display">
        </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#table_id').DataTable(
            {
                "processing": true,
                "serverSide": true,
                "pageLength": 10,
                "ajax": {
                    "url": "/api/EvaluationApi/GetEvaluation",
                    "type": "POST",
                    'beforeSend': function (request) {
                        //  request.setRequestHeader("Content-Type", "application/json");
                    }

                },
                "columns": [
                    {
                        "data": "Id", "title": "รหัส"
                    },
                    {

                        "title": "ปี",
                        render: function (data, type, row) {


                            return row["Year"] + "/" + row["No"];

                        }
                    },
                    {
                        "data": "EvaluationName", "title": "ชื่อ"
                    },
                    { "data": "StartDateString", "title": "เริ่มวันที่" },
                    { "data": "EndDateString", "title": "สิ้นสุดวันที่" },
                    {
                        data: "Id",
                        "title": "ตัวเลือก",
                        render: function (data, type, row) {
                            if (!row["EmpSend"])
                                return '<a class="btn btn-primary" href="/Evaluation/Make?id=' + data + '" >ทำแบบประเมิน</a>';
                            return "ส่งแบบประเมินแล้ว";

                        }
                    }
                ]
            }
        );

        setTimeout(function () {
            $('#table_id2').DataTable(
                {
                    "processing": true,
                    "serverSide": true,
                    "pageLength": 10,
                    "ajax": {
                        "url": "/api/EvaluationApi/GetAssessor",
                        "type": "POST",
                        'beforeSend': function (request) {
                            //  request.setRequestHeader("Content-Type", "application/json");
                        }

                    },
                    "columns": [
                        {
                            "data": "Id", "title": "รหัส"
                        },
                        {

                            "title": "ปี",
                            render: function (data, type, row) {


                                return row["Year"] + "/" + row["No"];

                            }
                        },
                        {
                            "data": "EvaluationName", "title": "ชื่อ"
                        },
                        { "data": "StartDateString", "title": "เริ่มวันที่" },
                        { "data": "EndDateString", "title": "สิ้นสุดวันที่" },
                        {
                            data: "Id",
                            "title": "ตัวเลือก",
                            render: function (data, type, row) {
                                if (!row["EmpSend"])
                                    return '<a class="btn btn-primary" href="/Evaluation/MakeAssessor?id=' + data + '&Empcode=' + row["EmpCode"]+'" >ทำแบบประเมิน</a>';
                                return "ส่งแบบประเมินแล้ว";

                            }
                        }
                    ]
                }
            );
        }, 1000);
        
    });

</script>