﻿@{ ViewData["Title"] = "หน้าแรก";
                Layout = "~/Views/Main/Index1.cshtml"; }

@*<div class="card" style="margin:10px">

    <div class="card-body">
        <h5 class="card-title">แบบประเมินความพึงพอใจ</h5>
        <table id="table_id3" class="display">
        </table>
    </div>
</div>*@

<div class="card" style="margin:10px">

    <div class="card-body">
        <h5 class="card-title">Feedback</h5>
        <table id="table_id4" class="display">
        </table>
    </div>
</div>
<div class="card" style="margin:10px">

    <div class="card-body">
        <h5 class="card-title">Feedback</h5>
        <table id="table_id5" class="display">
        </table>
    </div>
</div>

@*<div class="card" style="margin:10px">

    <div class="card-body">
        <h5 class="card-title">แบบประเมิน</h5>
        <table id="table_id" class="display">
        </table>
    </div>
</div>


<div class="card" style="margin:10px">
    <div class="card-body">
        <h5 class="card-title">แบบประเมินผู้อื่น</h5>
        <table id="table_id2" class="display">
        </table>
    </div>
</div>*@


<script>
    $(document).ready(function () {
        $('#table_id').DataTable(
            {
                "processing": true,
                "serverSide": true,
                "pageLength": 10,
                "ajax": {
                    "url": "/api/EvaluationApi/GetEvaluation",
                    "type": "POST",
                    'beforeSend': function (request) {
                        //  request.setRequestHeader("Content-Type", "application/json");
                    }

                },
                "columns": [
                    {
                        "data": "Id", "title": "รหัส"
                    },
                    {

                        "title": "ปี",
                        render: function (data, type, row) {


                            return row["Year"] + "/" + row["No"];

                        }
                    },
                    {
                        "data": "EvaluationName", "title": "ชื่อ"
                    },
                    { "data": "StartDateString", "title": "เริ่มวันที่" },
                    { "data": "EndDateString", "title": "สิ้นสุดวันที่" },
                    {
                        data: "Id",
                        "title": "ตัวเลือก",
                        render: function (data, type, row) {
                            if (!row["EmpSend"])
                                return '<a class="btn btn-primary" href="/Evaluation/Make?id=' + data + '" >ทำแบบประเมิน</a>';
                            return "ส่งแบบประเมินแล้ว";

                        }
                    }
                ]
            }
        );

        setTimeout(function () {
            $('#table_id2').DataTable(
                {
                    "processing": true,
                    "serverSide": true,
                    "pageLength": 10,
                    "ajax": {
                        "url": "/api/EvaluationApi/GetAssessor",
                        "type": "POST",
                        'beforeSend': function (request) {
                            //  request.setRequestHeader("Content-Type", "application/json");
                        }

                    },
                    "columns": [
                        {
                            "data": "Id", "title": "รหัส"
                        },
                        {

                            "title": "ปี",
                            render: function (data, type, row) {


                                return row["Year"] + "/" + row["No"];

                            }
                        },
                        {
                            "data": "EvaluationName", "title": "ชื่อ"
                        },
                        { "data": "StartDateString", "title": "เริ่มวันที่" },
                        { "data": "EndDateString", "title": "สิ้นสุดวันที่" },
                        {
                            data: "Id",
                            "title": "ตัวเลือก",
                            render: function (data, type, row) {
                                if (!row["EmpSend"])
                                    return '<a class="btn btn-primary" href="/Evaluation/MakeAssessor?id=' + data + '&Empcode=' + row["EmpCode"] + '" >ทำแบบประเมิน</a>';
                                return "ส่งแบบประเมินแล้ว";

                            }
                        }
                    ]
                }
            );
        }, 2000);


        setTimeout(function () {
            $('#table_id3').DataTable(
                {
                    "processing": true,
                    "serverSide": true,
                    "pageLength": 10,
                    "ajax": {
                        "url": "/api/SurveyApi/GetServey",
                        "type": "POST",
                        'beforeSend': function (request) {
                            //  request.setRequestHeader("Content-Type", "application/json");
                        }

                    },
                    "columns": [
                        {
                            "data": "Id", "title": "รหัส"
                        },
                        {
                            "data": "SurveyName", "title": "ชื่อ"
                        },
                        {
                            data: "Id",
                            "title": "ตัวเลือก",
                            render: function (data, type, row) {
                                if (!row["EmpSend"])
                                    return '<a class="btn btn-primary" href="/Survery?ServeyId=' + data + '" >ทำแบบประเมินความพึงพอใจ</a>';
                                else
                                    return "ส่งแบบประเมินแล้ว";
                                
                            }
                        }
                    ]
                }
            );
        }, 3000);


        setTimeout(function () {
            $('#table_id4').DataTable(
                {
                    "processing": true,
                    "serverSide": true,
                    "pageLength": 10,
                    "ajax": {
                        "url": "/api/FeedBackApi/GetFeedBackAssert",
                        "type": "POST",
                        'beforeSend': function (request) {
                            //  request.setRequestHeader("Content-Type", "application/json");
                        }

                    },
                    "columns": [
                        {
                            "data": "Id", "title": "รหัส"
                        },
                        {
                            "data": "Name", "title": "ชื่อ"
                        },
                        {
                            data: "Id",
                            "title": "ตัวเลือก",
                            render: function (data, type, row) {
                                if (!row["EmpSent"])
                                    return '<a class="btn btn-primary" href="/FeedBack/FeedBackAssert?FeedbackId=' + data + '" >ทำ FeedBack</a>';
                                else
                                    return "ส่งแบบประเมินแล้ว";

                            }
                        },
                        {
                            data: "Id",
                            "title": "รายงาน",
                            render: function (data, type, row) {

                                if (row["EmpSent"])
                                    return '<a class="btn btn-primary"  href="/api/FeedBackApi/GetReport?id=' + data + '&type=pdf" >PDF</a>';
                                else
                                    return "กรุณาส่งแบบประเมินก่อน";
                            }
                        }
                    ]
                }
            );
        }, 4000);

        setTimeout(function () {
            $('#table_id5').DataTable(
                {
                    "processing": true,
                    "serverSide": true,
                    "pageLength": 10,
                    "ajax": {
                        "url": "/api/FeedBackApi/GetFeedBack",
                        "type": "POST",
                        'beforeSend': function (request) {
                            //  request.setRequestHeader("Content-Type", "application/json");
                        }

                    },
                    "columns": [
                        {
                            "data": "FeedbackId", "title": "รหัส"
                        },
                        {
                            "data": "FeedBackName", "title": "ชื่อ"
                        },
                        {
                            data: "FeedbackId",
                            "title": "ตัวเลือก",
                            render: function (data, type, row) {
                                if (!row["Accept"])
                                    return '<a class="btn btn-primary" href="/FeedBack/FeedBackAccept?FeedbackId=' + data + '&AssertId=' + row["AssertId"]+'" >ทำ FeedBack</a>';
                                else
                                    return "ส่งแบบประเมินแล้ว";

                            }
                        }
                    ]
                }
            );
        }, 5000);

    });

</script>