﻿@model Kpi.Entity.SurveyDetails

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Main/Index1.cshtml";
}


<div class="card" style="width: 100%;margin:10px">

    <div class="card-body">

        <div class="form-group">

            <h1>@Model.Name</h1>
          
        </div>
        @foreach (var n1 in Model.SurveyDetailChoose.Where(n => n.DeleteFlag == false).OrderBy(n => n.Order))
        {
    <div class="form-group">
     
            <button onclick="Next('/Survery/Next?Choose=@n1.Id',@((n1.Comment)?"1":"0"))" class="btn btn-outline-primary">
                @n1.Name
            </button>
    </div>
        }
    </div>
</div>
<script>
    function Next(link, pp) {
        if (pp == 1) {
            var p = prompt("กรุณาระบุเหตุผล", "");

            if (p != null) {
                window.location.href = link + "&comment=" + p;
            }
        } else {
            window.location.href = link;
        }
    }
</script>