﻿
@{
    ViewData["Title"] = "แบบประเมิน";
    Layout = "~/Views/Main/Index.cshtml";
}


<div class="card" style="margin:10px">
    <div class="card-body">
        <h5 class="card-title">ข้อมูล</h5>
        <a class="btn btn-primary" href="/Evaluation/NewEvaluation">สร้าง แบบประเมิน</a>
        <br />
        <br />
        <table id="table_id" class="display">
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable(
            {
                "processing": true,
                "serverSide": true,
                "pageLength": 10,
                "ajax": {
                    "url": "/api/EvaluationApi/GetEvaluationAll",
                    "type": "POST",
                    'beforeSend': function (request) {
                        //  request.setRequestHeader("Content-Type", "application/json");
                    }

                },
                "columns": [
                    {
                        "data": "Id", "title": "รหัส"
                    },
                    {

                        "title": "ปี",
                        render: function (data, type, row) {


                            return row["Year"] + "/" + row["No"];

                        }
                    },
                    {
                        "data": "EvaluationName", "title": "ชื่อ"
                    },
                    { "data": "StartDateString", "title": "เริ่มวันที่" },
                    { "data": "EndDateString", "title": "สิ้นสุดวันที่" },
                    {
                        data: "Id",
                        "title": "ขยายเวลา",
                        render: function (data, type, row) {


                            return '<a class="btn btn-primary" >ขยายเวลา</a>';

                        }
                    },
                    {
                        data: "Id",
                        "title": "จัดการ Email",
                        render: function (data, type, row) {


                            return '<a class="btn btn-primary" >จัดการ Email</a>';

                        }
                    },
                    {
                        data: "Id",
                        "title": "จัดการลำดับการประเมิน",
                        render: function (data, type, row) {


                            return '<a class="btn btn-primary"  href="/Evaluation/OrderAssersor?eval=' + data + '">จัดการลำดับการประเมิน</a>';
                            
                        }
                    },
                    {
                        data: "Id",
                        "title": "แก้ไข",
                        render: function (data, type, row) {


                            return '<a class="btn btn-primary" href="/Evaluation/EditEvaluation?eval=' + data + '" >แก้ไขข้อมูล</a>';

                        }
                    },
                    {
                        data: "Id",
                        "title": "ลบ",
                        render: function (data, type, row) {


                            return '<a class="btn btn-danger" >ลบ</a>';

                        }
                    }
                ]
            }
        );
    });

</script>