﻿
@model Kpi.Models.MakeEvaluationModel
@{
    ViewData["Title"] = "Make";
    Layout = "~/Views/Main/Index1.cshtml";
}

<h5>@Model.Evaluation.EvaluationName @Model.Evaluation.Year / @Model.Evaluation.No</h5>

<h5>
    ผู้เข้ารับการประเมิน @Model.Employee.Name @Model.Employee.LastName <span style="color:red">
        @if(Model.Evaluation.Assessors.Where(n=>n.DeleteFlag==false && n.Emp.User.BaseUserId == (long)ViewData["EmpCode"] && n.RejectComment!=null).FirstOrDefault()!=null) {
            <text>เหตุผลการ Reject @Model.Evaluation.Assessors.Where(n => n.Emp.User.BaseUserId == (long)ViewData["EmpCode"] && n.DeleteFlag == false && n.RejectComment != null).FirstOrDefault().RejectComment</text>
        }
    </span>
</h5>


<table class="table">
    <tbody>
        <tr>
            <th colspan="2" align="center">ข้อมูลการทำงาน @Model.Evaluation.TimeSheetStart.Value.ToString("dd/MM/yyyy") -  @Model.Evaluation.TimeSheetEnd.Value.ToString("dd/MM/yyyy")</th>
        </tr>
        <tr>
            <td>
                เข้าสาย
            </td>
            <td>
                @(Math.Round(Model.Employee.EmployeeLates.Where(n => n.DateIn >= Model.Evaluation.TimeSheetStart && n.DateOut <= Model.Evaluation.TimeSheetEnd).Sum(n => n.LateTime) * 100, 2, MidpointRounding.AwayFromZero)) นาที
            </td>
        </tr>
        <tr>
            <td>
                ขาดงาน
            </td>
            <td>
                @((Model.Employee.EmployeeShifs.Where(n => n.ShifDate >= Model.Evaluation.TimeSheetStart && n.ShifDate <= Model.Evaluation.TimeSheetEnd).Sum(n => n.Amount * 8) / 8).ToString("0.0#")) วัน
            </td>
        </tr>
        <tr>
            <td>
                ลาป่วย+ลากิจ
            </td>
            <td>
                @Model.Employee.EmployeeLeaves.Where(n => (n.LeaveName == "ลาป่วย" || n.LeaveName == "ลากิจ") && n.LeaveStart >= Model.Evaluation.TimeSheetStart && n.LeaveEnd <= Model.Evaluation.TimeSheetEnd).Sum(n => n.AbsenceDay).Value.ToString("0.0#") วัน
            </td>
        </tr>
        <tr>
            <td>
                พักร้อน
            </td>
            <td>
                @Model.Employee.EmployeeLeaves.Where(n => n.LeaveName == "ลาพักผ่อน" && n.LeaveStart >= Model.Evaluation.TimeSheetStart && n.LeaveEnd <= Model.Evaluation.TimeSheetEnd).Sum(n => n.AbsenceDay).Value.ToString("0.0#") วัน
            </td>
        </tr>
        <tr>
            <td>
                อื่น ๆ
            </td>
            <td>
                @Model.Employee.EmployeeLeaves.Where(n => n.LeaveName != "ลาพักผ่อน" && n.LeaveName != "ลาป่วย" && n.LeaveName != "ลากิจ" && n.LeaveStart >= Model.Evaluation.TimeSheetStart && n.LeaveEnd <= Model.Evaluation.TimeSheetEnd).Sum(n => n.AbsenceDay).Value.ToString("0.0#") วัน
            </td>
        </tr>
    </tbody>
    @*<tr>
            <td>
                ลาป่วย+ลากิจ
            </td>
            <td>
                @Model.Employee.EmployeeLeaves.Where(n => n.LeaveStart >= Model.Evaluation.TimeSheetStart && n.LeaveEnd <= Model.Evaluation.TimeSheetEnd).Sum(n => n.AbsenceDay).Value.ToString("0.0#") วัน
            </td>
        </tr>
        <tr>
            <th colspan="2" align="center">รายละเอียดการลา</th>
        </tr>
        @foreach (var l in Model.Employee.EmployeeLeaves.Where(n => n.LeaveStart >= Model.Evaluation.TimeSheetStart && n.LeaveEnd <= Model.Evaluation.TimeSheetEnd).GroupBy(n => n.LeaveName))
        {
            <tr>
                <td>
                    @l.Key
                </td>
                <td>
                    @l.Sum(n => n.AbsenceDay).Value.ToString("0.0#") วัน
                </td>
            </tr>

        }*@
</table>

@foreach (var e in Model.Evaluation.Data.Where(n => n.DeleteFlag == false ).OrderBy(n => n.Order))
{
<h5>@e.Name  @((e.EvaluationType == Kpi.Entity.EvaluationType.Provide) ? " มี " + e.Details.Count() + " ข้อ" : "")</h5>
<p>@e.Wording</p>

<table class="data table " >
    <thead>
        <tr>
            <th width="200px">
                หัวข้อ
                @Html.Hidden("eid", e.Id)
                @Html.Hidden("type", e.EvaluationType)
                @if (e.EvaluationType == Kpi.Entity.EvaluationType.Free)
                {
                    @if (!(bool)ViewData["Assersor"])
                    {
                        <button class="btn btn-primary" onclick="newRow(this)">+</button>}
                }
            </th>
            <th>น้ำหนัก</th>
            @if ((bool)ViewData["Assersor"])
            {
                <th>ผู้ประเมินตนเอง</th>
            }
            @{int ia=1;  }
            @foreach (var a in Model.Evaluation.Assessors.Where(n => n.Emp.User.BaseUserId == (long)ViewData["EmpCode"] && n.Send ).OrderBy(n => n.Order))
            {
                if(a.EmpAssessor.User.BaseUserId == (long)ViewData["EmpCode"])
                {
                    break;
                }
                <th align="center">ผู้ประเมิน @ia <br>@a.EmpAssessor.Name @a.EmpAssessor.LastName </th>
                ia++;
            }

            <th>ระดับ</th>
            <th>คะแนน</th>
        </tr>
    </thead>
    <tbody>
        @{
                int i = 1;
        }
        @foreach (var d in e.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Name != null && n.UserId.BaseUserId == (long)ViewData["EmpCode"]).OrderBy(n=>n.Order))
        {

        <tr>
            <td width="200px">

                @if ((bool)ViewData["Assersor"])
                {

                    <text><span class="name">@d.Name</span></text>
                }
                else
                {
                    <textarea class="name form-control">@d.Name</textarea> <button class="btn btn-primary" onclick="addSubRow(this)">เพิ่มหัวข้อย่อย</button>
                    <button class="btn btn-danger" onclick="delrow(this)">ลบ</button>
                }


            <td class="w">
                @if ((bool)ViewData["Assersor"])
                {
                    <text>@d.Weigth</text>
                }
                else
                {
                    <input type="number" onchange="changPoint2(this)" value="@d.Weigth" maxlength=100 class="w1 form-control" />

                }

            </td>
            @if ((bool)ViewData["Assersor"])
            {
                <td>@d.SumPoint.ToString("0.0#")</td>
            }
            @{ ia = 1; }
            @foreach (var a in Model.Evaluation.Assessors.Where(n => n.Emp.User.BaseUserId == (long)ViewData["EmpCode"] && n.Send && n.DeleteFlag == false).OrderBy(n => n.Order))
            {
                if (a.EmpAssessor.User.BaseUserId == (long)ViewData["EmpCode"])
                {
                    break;
                }
                <td align="center">@((e.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Evaluation == a.Evaluation && n.Name == d.Name && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId == a.EmpAssessor.User).FirstOrDefault()!=null)?e.EvaluationPoint.Where(n=>n.DeleteFlag==false && n.Evaluation == a.Evaluation && n.Name == d.Name && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId == a.EmpAssessor.User).FirstOrDefault().SumPoint:0)</td>
                ia++;
            }

            <td>
                @* @e.EvaluationPoint.Where(n => n.DeleteFlag == false &&n.Owner.BaseUserId == (long)ViewData["EmpCode"]   && n.UserId.BaseUserId == (long)ViewData["UserId"] && n.Name == d.Name).FirstOrDefault().Point*@
                <select class="form-control" onchange="changPoint1(this)">

                    @if (!(bool)ViewData["Assersor"])
                    {
                        <option value="0" @if ((d.Owner.BaseUserId == (long)ViewData["EmpCode"] && d.UserId.BaseUserId == (long)ViewData["UserId"] && d.Point == 0)) { <text> selected</text> }>
                            0
                        </option>


                        <option value="1" @if ((d.Owner.BaseUserId == (long)ViewData["EmpCode"] && d.UserId.BaseUserId == (long)ViewData["UserId"] && d.Point == 1)) { <text> selected</text> }>
                            1
                        </option>
                        <option value="2" @if ((d.Owner.BaseUserId == (long)ViewData["EmpCode"] && d.UserId.BaseUserId == (long)ViewData["UserId"] && d.Point == 2)) { <text> selected</text> }>
                            2
                        </option>
                        <option value="3" @if ((d.Owner.BaseUserId == (long)ViewData["EmpCode"] && d.UserId.BaseUserId == (long)ViewData["UserId"] && d.Point == 3)) { <text> selected</text> }>
                            3
                        </option>
                        <option value="4" @if ((d.Owner.BaseUserId == (long)ViewData["EmpCode"] && d.UserId.BaseUserId == (long)ViewData["UserId"] && d.Point == 4)) { <text> selected</text> }>
                            4
                        </option>
                        <option value="5" @if ((d.Owner.BaseUserId == (long)ViewData["EmpCode"] && d.UserId.BaseUserId == (long)ViewData["UserId"] && d.Point == 5)) { <text> selected</text> }>
                            5
                        </option>

                    }
                    else
                    {
                        <option value="0" @if (((e.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"] && n.Name == d.Name).FirstOrDefault() == null) ? 0 : e.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"] && n.Name == d.Name).FirstOrDefault().Point) == 0) { <text> selected</text> }>
                            0
                        </option>
                        <option value="1" @if (((e.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"] && n.Name == d.Name).FirstOrDefault() == null) ? 0 : e.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"] && n.Name == d.Name).FirstOrDefault().Point) == 1) { <text> selected</text> }>
                            1
                        </option>
                        <option value="2" @if (((e.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"] && n.Name == d.Name).FirstOrDefault() == null) ? 0 : e.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"] && n.Name == d.Name).FirstOrDefault().Point) == 2) { <text> selected</text> }>
                            2
                        </option>
                        <option value="3" @if (((e.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"] && n.Name == d.Name).FirstOrDefault() == null) ? 0 : e.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"] && n.Name == d.Name).FirstOrDefault().Point) == 3) { <text> selected</text> }>
                            3
                        </option>
                        <option value="4" @if (((e.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"] && n.Name == d.Name).FirstOrDefault() == null) ? 0 : e.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"] && n.Name == d.Name).FirstOrDefault().Point) == 4) { <text> selected</text> }>
                            4
                        </option>
                        <option value="5" @if (((e.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"] && n.Name == d.Name).FirstOrDefault() == null) ? 0 : e.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"] && n.Name == d.Name).FirstOrDefault().Point) == 5) { <text> selected</text> }>
                            5
                        </option>
                    }



                </select>
            </td>
            <td class="point">@((e.EvaluationPoint.Where(n => n.DeleteFlag == false &&n.Owner.BaseUserId == (long)ViewData["EmpCode"]  && n.UserId.BaseUserId == (long)ViewData["UserId"] && n.Name == d.Name).FirstOrDefault()==null)?"0":e.EvaluationPoint.Where(n => n.DeleteFlag == false &&n.Owner.BaseUserId == (long)ViewData["EmpCode"]  && n.UserId.BaseUserId == (long)ViewData["UserId"] && n.Name == d.Name).FirstOrDefault().SumPoint.ToString("0.0#"))</td>
        </tr>


            @foreach (var n in d.SubPoint.OrderBy(n=>n.Order))
            {
                <tr>
                    <td width="200px" colspan=@(ia+4)>
                        @if ((bool)ViewData["Assersor"])
                        {
                            <text><span class="subname">@n.Name</span></text>
                        }
                        else
                        {
                            <textarea class="subname form-control">@n.Name</textarea>
                            <button class="btn btn-danger" onclick="delrow1(this)">ลบ</button>

                        }

                </tr>

            }
          
            i++;
           
        }
        @{
            i = 1;
        }
        @foreach (var d in e.Details.Where(n => n.DeleteFlag == false))
        {

    <tr>
        <td>
            @i @d.Name   @Html.Hidden("did", d.Id) @if (d.FileId > 0)
            {<a href="http://203.150.107.134:9003/api/Upload/GetFile?CusCode=PMCU-KPI01&id=@d.FileId" target="_blank">อ่านรายละเอียด</a>}
            @foreach (var dd in d.SubDetail.Where(n => n.DeleteFlag == false))
            {

                <text>
                    <br>- @dd.Name @if (dd.FileId > 0)
                    {<a href="http://203.150.107.134:9003/api/Upload/GetFile?CusCode=PMCU-KPI01&id=@d.FileId" target="_blank">อ่านรายละเอียด</a>}
                </text>
            }

        </td>

        <td class="w">@d.Weigth</td>
        @if ((bool)ViewData["Assersor"])
        {
            <td>@(((d.EvaluationPoint.Where(n => n.DeleteFlag == false && n.UserId.BaseUserId == (long)ViewData["EmpCode"]).FirstOrDefault() == null) ? 0 : (d.EvaluationPoint.Where(n => n.DeleteFlag == false && n.UserId.BaseUserId == (long)ViewData["EmpCode"]).FirstOrDefault().Point * d.EvaluationPoint.Where(n => n.UserId.BaseUserId == (long)ViewData["EmpCode"]).FirstOrDefault().Weigth) / 5))</td>
        }

        @{ ia = 1; }
        @foreach (var a in Model.Evaluation.Assessors.Where(n => n.Emp.User.BaseUserId == (long)ViewData["EmpCode"] && n.Send && n.DeleteFlag == false).OrderBy(n => n.Order))
        {
            if (a.EmpAssessor.User.BaseUserId == (long)ViewData["EmpCode"])
            {
                break;
            }
            <td align="center">@((d.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Evaluation == a.Evaluation && n.EvaluationDataDetail == d && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId == a.EmpAssessor.User).FirstOrDefault()!=null)? d.EvaluationPoint.Where(n=>n.DeleteFlag==false && n.Evaluation == a.Evaluation && n.EvaluationDataDetail == d && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId == a.EmpAssessor.User).FirstOrDefault().SumPoint:0)</td>
            ia++;
        }
        <td>
            <select class="form-control" onchange="changPoint(this)">

                <option value="0" @if (d.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"]).FirstOrDefault() != null) { if (d.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"]).FirstOrDefault().Point == 0) { <text> selected</text> }
                }>
                    0
                </option>



                <option value="1" @if (d.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"]).FirstOrDefault() != null) { if (d.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"]).FirstOrDefault().Point == 1) { <text> selected</text> }
                }>
                    1
                </option>


                <option value="2" @if (d.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"]).FirstOrDefault() != null) { if (d.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"]).FirstOrDefault().Point == 2) { <text> selected</text> }
                }>
                    2
                </option>


                <option value="3" @if (d.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"]).FirstOrDefault() != null) { if (d.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"]).FirstOrDefault().Point == 3) { <text> selected</text> }
                }>
                    3
                </option>


                <option value="4" @if (d.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"]).FirstOrDefault() != null) { if (d.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"]).FirstOrDefault().Point == 4) { <text> selected</text> }
                }>
                    4
                </option>


                <option value="5" @if (d.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"]).FirstOrDefault() != null) { if (d.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"]).FirstOrDefault().Point == 5) { <text> selected</text> }
                }>
                    5
                </option>


            </select>


        </td>
        <td class="point">
            @if (d.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"]).FirstOrDefault() != null)
            {


                <text>@d.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"]).FirstOrDefault().SumPoint.ToString("0.0#")</text>

            }
            else
            {
                <text>0</text>
            }

        </td>


    </tr>
       
                i++;
            

        }




    </tbody>
    <tfoot>
        <tr>
            <td width="60%">รวม</td>
            <td class="sumWeigth">
                @if (e.EvaluationType == Kpi.Entity.EvaluationType.Provide)
                {

                    @e.SumWeigth.ToString("#")
                }
                else
                {
                    @e.EvaluationPoint.Where(n => n.DeleteFlag == false && n.UserId.BaseUserId == (long)ViewData["EmpCode"]).Sum(n => n.Weigth).ToString("#")
                }

            </td>
            @if ((bool)ViewData["Assersor"])
            {
                if (ViewData["UserId"] != null && e.HavePoint)
                {
                    if (e.EvaluationType == Kpi.Entity.EvaluationType.Provide)
                    {

                        if (e.Details.Where(c => c.EvaluationPoint.Any(n => n.DeleteFlag == false && n.UserId.BaseUserId == (long)ViewData["EmpCode"])).FirstOrDefault() != null)
                        {

                            <td>@e.Details.Sum(n => n.EvaluationPoint.Where(n => n.DeleteFlag == false && n.UserId.BaseUserId == (long)ViewData["EmpCode"]).FirstOrDefault().SumPoint).ToString("0.0#")</td>
                        }
                    }
                    else
                    {
                        <td>@e.EvaluationPoint.Where(n => n.DeleteFlag == false && n.UserId.BaseUserId == (long)ViewData["EmpCode"]).Sum(n => n.SumPoint).ToString("0.0#")</td>
                    }

                }
                else
                {
                    <td>0</td>
                }


            }
            @{ ia = 1; }
            @foreach (var a in Model.Evaluation.Assessors.Where(n => n.Emp.User.BaseUserId == (long)ViewData["EmpCode"] && n.Send && n.DeleteFlag == false).OrderBy(n => n.Order))
            {
                if (a.EmpAssessor.User.BaseUserId == (long)ViewData["EmpCode"])
                {
                    break;
                }
                if (e.EvaluationType == Kpi.Entity.EvaluationType.Provide)
                {
                    if (e.Details.Where(c => c.EvaluationPoint.Any(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == a.EmpAssessor.User.BaseUserId)).FirstOrDefault() != null)
                    {

                        <td align="center">
                            @e.Details.Sum(n => n.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == a.EmpAssessor.User.BaseUserId).FirstOrDefault().SumPoint).ToString("0.0#")
                        </td>
                    }
                }
                else
                {
                    <td align="center">@(e.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Evaluation == a.Evaluation && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId == a.EmpAssessor.User).Sum(n => n.SumPoint).ToString("0.0#"))</td>

                }
                ia++;
            }
            <td class="sum">
                @if (ViewData["UserId"] != null && e.HavePoint)
                {
                    if (e.EvaluationType == Kpi.Entity.EvaluationType.Provide)
                    {

                        if (e.Details.Where(c => c.EvaluationPoint.Any(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"])).FirstOrDefault() != null)
                        {

                            <text>@e.Details.Sum(n => n.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"]).FirstOrDefault().SumPoint).ToString("0.0#")</text>
                        }
                    }
                    else
                    {
                        <text>@e.EvaluationPoint.Where(n => n.DeleteFlag == false && n.Owner.BaseUserId == (long)ViewData["EmpCode"] && n.UserId.BaseUserId == (long)ViewData["UserId"]).Sum(n => n.SumPoint).ToString("0.0#")</text>
                    }

                }
                else
                {
                    <text>0</text>
                }
            </td>

            <td></td>

        </tr>
    </tfoot>
</table>


<div class="modal" tabindex="-1" id="mymodal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">กำลังบันทึก กรุณารอสักครู่</h5>
               
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


}
<h5>@Model.Evaluation.RecommandWording</h5>
@Html.TextArea("Receomend",Model.Evaluation.Emp.Where(n=>n.DeleteFlag==false && n.Employee.User.BaseUserId == (long)ViewData["EmpCode"]).FirstOrDefault().Recommend, 5,100,new { @class= "form-control" })
<center>
    @if ((bool)ViewData["Assersor"])
            {
    <button class="btn btn-danger" onclick="Reject()">Reject</button>
            }
    <button class="btn btn-primary" onclick="save()">บันทึก</button>
    <button class="btn btn-primary" onclick="Send()">ส่งแบบประเมิน</button>
</center>
<style>
    .table1{
        background-color:white
    }
</style>
<script>
    //$(document).ready(function () {
    //    $('.table1').DataTable(
    //        {
    //            "ordering": false,
    //          //  dom: 'Bfrtip',
    //            //ordering: false,
    //            paging: false,
    //            sScrollX: "100%",
    //            sScrollXInner: "105%",
    //            scrollCollapse: true,
    //       //    scrollY: "100px",
    //            colReorder: {
    //                fixedColumnsLeft: 1
    //            },
    //            fixedColumns: {
    //                leftColumns: 2
    //            }
    //        }
    //    );
    //})
    function newRow(event) {
        var row = '<tr ><td width="60 % ">   <textarea class="name form-control" ></textarea> <button type="button" onclick="addSubRow(this)" class="btn btn-primary">เพิ่มหัวข้อย่อย</button><button type="button" class="btn btn-danger" onclick="delrow(this)"> ลบ</button ></td> <td><input type="number" value="0" onchange="changPoint2(this)" maxlength=100 class="w1 form-control" /></td><td><select class="form-control" onchange="changPoint1(this)" > <option value="0" selected> 0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></td><td class="point"  >0</td></tr>';
        $(event).parents("table").find("tbody").append(row);
        console.log($(event).parents("table").find("tbody"));
    }
    function addSubRow(event) {
        var row = '<tr ><td width="60%" colspan=4>   <textarea class="subname form-control" ></textarea>    <button onclick="delrow1(this)" class="btn btn-danger">ลบ</button></tr>';
        console.log();
        var r = $(event).parents("tr");
        var quit = false;

        while (!quit) {


            quit = true;

            if (r.next().find("td").length == 1) {
                r = r.next();
                quit = false;
            }

        }

        if (r.next().find("td").length == 0) {
            r.after(row);
        } else {
            r.next().before(row);
        }

    }
    function delrow(event) {
        var table = $(event).parents("table");
        var quit = false;
        while (!quit) {
            var r = $(event).parents("tr").next();
            if (r.find("td").length == 1) {
                r.remove();
            } else {
                quit = true;
            }
        }

        $(event).parents("tr").remove()
        var sum = 0;
        table.find(".point").each(function () {
            sum = sum + parseFloat($(this).text());
        });


        table.find("tr:last").find(".sum").html(sum.toFixed(2));
        var weigth = 0;
        table.find(".w").each(function () {
            weigth = weigth + parseFloat($(this).val());

        });
        table.find("tr:last").find(".sumWeigth").html(weigth.toFixed(2));

    }

    function delrow1(event) {


        $(event).parents("tr").remove()


    }
    function changPoint(point) {
        var w = $(point).parents("tr").find("td:eq(1)").text();

        console.log((w * point.value) / 5.0);

        $(point).parents("tr").find(".point").html(((w * point.value) / 5.0).toFixed(2));

        var sum = 0;
        $(point).parents("table").find(".point").each(function () {
            sum = sum + parseFloat($(this).text());
        });

        $(point).parents("table").find("tr:last").find(".sum").html(sum.toFixed(2));

    }
    function changPoint1(point) {

        var w = $(point).parents("tr").find("td:eq(1)").find("input").val();
        if (w == null || w == undefined) {
            w = $(point).parents("tr").find("td:eq(1)").text();
        }



        $(point).parents("tr").find(".point").html(((w * point.value) / 5.0).toFixed(2));

        var sum = 0;
        $(point).parents("table").find(".point").each(function () {
            sum = sum + parseFloat($(this).text());
        });

        var weigth = 0;

        $(point).parents("table").find(".w").each(function () {

            weigth = weigth + parseFloat($(this).val());

        });
        if (isNaN(weigth)) {
            weigth = 0;
            $(point).parents("table").find(".w").each(function () {

                weigth = weigth + parseFloat($(this).text().trim());

            });
        }
        if (isNaN(weigth)) {
            weigth = 0;
        }




        $(point).parents("table").find("tr:last").find(".sumWeigth").html(weigth.toFixed(2));

        $(point).parents("table").find("tr:last").find(".sum").html(sum.toFixed(2));

    }

    function changPoint2(point) {

        var w = $(point).parents("tr").find("td:eq(1)").find("input").val();

        var p = $(point).parents("tr").find("td:eq(2)").find("select").val();

        $(point).parents("tr").find(".point").html(((w * p) / 5.0).toFixed(2));

        var sum = 0;
        var weigth = 0;
        $(point).parents("table").find(".point").each(function () {
            sum = sum + parseFloat($(this).text());

        });
        $(point).parents("table").find(".w").each(function () {
            weigth = weigth + parseFloat($(this).val());

        });


        $(point).parents("table").find("tr:last").find(".sumWeigth").html(weigth.toFixed(2));
        $(point).parents("table").find("tr:last").find(".sum").html(sum.toFixed(2));

    }
    function save() {
        if (confirm("ยืนยันการบันทึก")) {
            $('#mymodal').modal({
                backdrop: 'static',
                keyboard:false
            });
            $('#mymodal').modal('show');

            var data = [];
            var i = 0;
            $(".data").each(function () {
                var id = $(this).find("#eid").val();
                var type = $(this).find("#type").val();


                var detail = [];

                $(this).find("tbody>tr").each(function () {
                    if (type == "Free") {
                        //  console.log("test")
                        var name = $(this).find(".name").val();
                        if (name == null || name == "" || name == undefined) {
                            name = $(this).find(".name").text();
                        }
                        var subname = $(this).find(".subname").val();
                        if (subname == null || subname == "" || subname == undefined) {
                            subname = $(this).find(".subname").text();
                        }
                        console.log("subname")
                        var w = $(this).find(".w1").val();
                        if (w == null || w == "" || w == undefined) {
                            w = $(this).find(".w").text();
                        }
                        var p = $(this).find("select").val();
                        if (subname != null && subname != "" && subname != undefined) {
                            var d = detail[detail.length - 1];
                            d.subname.push({
                                name: subname,
                                order:i++
                            });
                        }
                        else if (name != null && name != "" && name != undefined) {
                            detail.push({

                                name: name,
                                weigth: w,
                                point: p,
                                order:i++,
                                subname: []
                            })
                        }
                    } else {
                        var d = $(this).find("#did").val();
                        var w = $(this).find(".w").text();
                        var p = $(this).find("select").val();
                        if (id != null && id != "" && id != undefined) {
                            detail.push({
                                id: d,
                                weigth: w,
                                order: i++,
                                point: p
                            })
                        }
                    }
                })
                data.push({
                    id: id,
                    data: detail


                });




            })
            $.ajax({
                url: "/api/EvaluationApi/SavePointEvaluation",
                type: 'post',
                data: JSON.stringify({
                    recommend: $("#Receomend").val(),
                    data: data,
                EmpCode:@ViewData["EmpCode"]

            }),
                dataType: 'json',
                headers: {
                    "Content-Type": "application/json",
                },

                success: function (response) {
                    $('#mymodal').modal('hide');

                    alert("บันทึกข้อมูลเรียบร้อย")
                    //window.location.href = "/Main";

                },
                error: function (response) {
                    $('#mymodal').modal('hide');
                    alert(JSON.parse(response.responseText)["message"]);
                }
            });

        }
    }
    function Reject() {
        var comment = prompt("กรุณาใส่เหตุผลการ Reject");
        if (comment!=null) {
            $.ajax({
                url: "/api/EvaluationApi/Reject?eventId=@Model.Evaluation.Id&empCode=@ViewData["EmpCode"]&comment=" + comment,
                type: 'get',
                dataType: 'json',
                headers: {
                    "Content-Type": "application/json",
                },

                success: function (response) {
                    $('#mymodal').modal('hide');

                    alert("บันทึกข้อมูลเรียบร้อย")
                    window.location.href = "/Main";

                },
                error: function (response) {
                    $('#mymodal').modal('hide');
                    alert(JSON.parse(response.responseText)["message"]);
                }
            });
        }
    }

    function Send() {

        if (confirm("กรุณายืนยันการตรวจสอบข้อมูลก่อนทำการส่งแบบประเมิน")) {
            $('#mymodal').modal({
                backdrop: 'static',
                keyboard: false
            });
            $('#mymodal').modal('show');

            var data = [];
            var i = 0;
            $(".data").each(function () {
                var id = $(this).find("#eid").val();
                var type = $(this).find("#type").val();


                var detail = [];

                $(this).find("tbody>tr").each(function () {
                    if (type == "Free") {
                        //  console.log("test")
                        var name = $(this).find(".name").val();
                        if (name == null || name == "" || name == undefined) {
                            name = $(this).find(".name").text();
                        }
                        var subname = $(this).find(".subname").val();
                        if (subname == null || subname == "" || subname == undefined) {
                            subname = $(this).find(".subname").text();
                        }
                        console.log("subname")
                        var w = $(this).find(".w1").val();
                        if (w == null || w == "" || w == undefined) {
                            w = $(this).find(".w").text();
                        }
                        var p = $(this).find("select").val();
                        if (subname != null && subname != "" && subname != undefined) {
                            var d = detail[detail.length - 1];
                            d.subname.push({
                                name: subname,
                                order: i++
                            });
                        }
                        else if (name != null && name != "" && name != undefined) {
                            detail.push({

                                name: name,
                                weigth: w,
                                point: p,
                                order: i++,
                                subname: []
                            })
                        }
                    } else {
                        var d = $(this).find("#did").val();
                        var w = $(this).find(".w").text();
                        var p = $(this).find("select").val();
                        if (id != null && id != "" && id != undefined) {
                            detail.push({
                                id: d,
                                weigth: w,
                                order: i++,
                                point: p
                            })
                        }
                    }
                })
                data.push({
                    id: id,
                    data: detail


                });




            })
            $.ajax({
                url: "/api/EvaluationApi/SavePointEvaluation",
                type: 'post',
                data: JSON.stringify({
                    recommend: $("#Receomend").val(),
                    data: data,
                    EmpCode:@ViewData["EmpCode"]
            }),
                dataType: 'json',
                headers: {
                    "Content-Type": "application/json",
                },

                success: function (response) {

                    //window.location.href = "/Main";
                    var id = $(this).find("#eid").val();
            $.ajax({
                url:
                 @if ((bool)ViewData["Assersor"] )
                 {
                     <text> "/api/EvaluationApi/SendAssesor?eventId=@Model.Evaluation.Id&empCode=@ViewData["EmpCode"]" </text>
                 }
                 else {
                 <text> "/api/EvaluationApi/SendEvent?eventId=@Model.Evaluation.Id"</text>}
                ,
                type: 'get',
                dataType: 'json',
                headers: {
                    "Content-Type": "application/json",
                },

                success: function (response) {
                    $('#mymodal').modal('hide');

                    confirm("ส่งข้อมูลเรียบร้อย")
                    window.location.href = "/Main/Index1";

                },
                error: function (response) {
                    $('#mymodal').modal('hide');
                    alert(JSON.parse(response.responseText)["message"]);
                }
            });

                },

                error: function (response) {
                    $('#mymodal').modal('hide');
                    alert(JSON.parse(response.responseText)["message"]);
                }
            });



        }

    }
   
</script>