﻿
@model Kpi.Entity.EvaluationDataTemplate
@{
    ViewData["Title"] = "ManageTemplate";
    Layout = "~/Views/Main/Index.cshtml";
}

    <form action="/Evaluation/ManageTemplate1" method="post">
        <h1>สร้าง Template</h1>
        <div class="form-group">
            <label for="exampleInputEmail1">ชื่อ Template</label>
            @Html.TextBoxFor(n=>n.Name,"",new { @class= "form-control" })
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">ประเภทแบบประเมิณ</label>

           @Html.DropDownListFor(n=>n.EvaluationType, Html.GetEnumSelectList<Kpi.Entity.EvaluationType>(),"กรุณาเลือกประเภท", new { @class = "form-control" })
        </div>
       @Html.HiddenFor(n => n.Id);
      
        <button  class="btn btn-primary">ถัดไป</button>
    </form>

