﻿@model Kpi.Entity.EvaluationDataTemplate
@{
    ViewData["Title"] = "ManageTemplate1";
    Layout = "~/Views/Main/Index.cshtml";
}


<button class="btn btn-primary" id="addDetail">เพิ่มหัวข้อ</button>
<table class="table" >
    <thead>
        <tr>
            <th>หัวข้อ</th>
            <th style="width:30%">Upload</th>
            <th style="width:10%">Wegith</th>
            <th style="width:20%">ตัวเลือก</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Details.Where(n=>n.DeleteFlag==false))
        {
        <tr>
            <td>
                @Html.TextBox("name", p.Name, "", new { style = "width: 100%" })
                @Html.Hidden("id", p.Id)
            </td>
            <td>
                @if (p.Link != null && p.Link != "0")
                {
                    <a href="http://203.150.107.134:9003/api/Upload/GetFile?Cuscode=PMCU-KPI01&id=@p.Link">คลิก</a>

                }
                <input type='file' id='file' onchange='uploadFile(this,event)'>
            </td>
            <td>
                @Html.TextBox("weigth", p.Weigth, "", new { @class= "weigth", style = "width: 100%",@type="number" })
            </td>
            <td>
                <button class='btn btn-primary' onclick='subRow(event)'>เพิ่มหัวข้อย่อย</button>
                <button class='btn btn-danger' onclick='remove(event)'>ลบ</button>
            </td>
        </tr>
            if (p.SubDetail.Where(n => n.DeleteFlag == false).Count() > 0)
            {
                foreach (var s in p.SubDetail.Where(n => n.DeleteFlag == false))
                {
    <tr>

        <td colspan=3 style="padding-left:50px">-
            @*<input type='text' id='name' style='width: 100%'>*@
            @Html.TextBox("name", s.Name, "", new { style = "width: 90%" })
            @Html.Hidden("id", s.Id)
        </td>
        <td><button class='btn btn-danger' onclick='remove(event)'>ลบ</button></td>
    </tr>
                }
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">รวม</td>
            <td class="sumweigth">@Model.Details.Where(n => n.DeleteFlag == false).Sum(n=>n.Weigth)</td>
            <td></td>
        </tr>
    </tfoot>
</table>
<br />
<button class="btn btn-primary" onclick="save()">บันทึก</button>

<script>
    $(document).on('change','.weigth',function (value) {
        console.log(value.target.value)

        var a = $(".table> tbody>tr");
        var sum = 0;
        $.each(a, function (index) {
            if ($(a[index]).find("td").length > 2) {
                if ($(a[index]).find("#weigth").val() != "") {
                    sum = sum + parseInt($(a[index]).find("#weigth").val());
                }
                console.log(sum);
            }
        });
 

        $(".sumweigth").html(sum);

    });
  
    $("#addDetail").on("click", function () {

        console.log("ttt");

        var row = "<tr><td><input type='text' style='width: 100%' id='name'></td><td><a href='' target='_blank'></a> <input type='file' id='file' onchange='uploadFile(this,event)'></td><td><input type='number' class='weigth' id='weigth' style='width: 100%' id='name'></td><td><button class='btn btn-primary' onclick='subRow(event)'>เพิ่มหัวข้อย่อย</button><button class='btn btn-danger'  onclick='remove(event)'>ลบ</button></td></tr>";
        $(".table > tbody").append(row);
    })
    function subRow(event) {
        console.log($(event.target).parent("td").parent("tr"));

        var row = "<tr><td colspan=3><input type='text' id='name' style='width: 100%'></td><td><button class='btn btn-danger' onclick='remove(event)'>ลบ</button></td></tr>";
        $(event.target).parent("td").parent("tr").after(row);

    }
    function remove(event) {
        $(event.target).parent("td").parent("tr").remove();
    }
    function uploadFile(file, event) {


        var fd = new FormData();
        var files = file.files[0];
        fd.append('file', files);

        $.ajax({
            url: "@(((dynamic)ViewData["MicroService"])["Upload"] +@"/api/Upload/Image?Cuscode="+ ViewData["CusCode"] )",
            type: 'put',
            data: fd,
            contentType: false,
            processData: false,
            success: function (response) {

                $(event.target).parent("td").find("a").attr("href", "@(((dynamic)ViewData["MicroService"])["Upload"] + @"/api/Upload/GetFile?Cuscode=" + ViewData["CusCode"])&id=" + response["data"]["imageId"]);
                $(event.target).parent("td").find("a").text("คลิก");

            },
        });
    }
    function save() {

         var list = [];

        var a = $(".table> tbody>tr");

        var i = 0;

        $.each(a, function (index) {
            if ($(a[index]).find("td").length == 2) {

                list[i - 1].SubDetail.push({
                    Order: index,
                    Name: $(a[index]).find("#name").val(),
                    Id: $(a[index]).find("#id").val(),
                    Weigth: 0,
                    Link:"",
                    SubDetail: []
                })

            } else {
                i++;
                list.push({
                    Order: index,
                    Name: $(a[index]).find("#name").val(),
                    Id: $(a[index]).find("#id").val(),
                    Weigth: $(a[index]).find("#weigth").val(),
                    Link: $(a[index]).find("a").attr("href"),
                    SubDetail: []
                })
            }

        })
        var data = {
            Order: "@Model.Order",
            Name:"@Model.Name",
            BasePoint: "@Model.BasePoint",
            Wording: "@Model.Wording",
            EvaluationType:"@Model.EvaluationType",
            Details: list,
            Id:"@Model.Id"
        }
        console.log(data)
         $.ajax({
             url: "/Evaluation/SaveTemplate",
            type: 'post',
             data: JSON.stringify(data),
             dataType: 'json',
             headers: {
                 "Content-Type": "application/json",
             },
      
            success: function (response) {

                window.location.href = "/Evaluation/Template";

            },
        });

    }
</script>
