﻿@model Kpi.Entity.Evaluation
@{
    ViewData["Title"] = "NewEvaluation";
    Layout = "~/Views/Main/Index.cshtml";
}
<h1>สร้าง แบบประเมิน</h1>
<form action="/Evaluation/SaveEvaluation" method="post">
    <h5>ข้อมูลทั่วไป</h5>


    <div class="form-group">
        <label for="exampleInputEmail1">ปี/ลำดับ</label>
        <div class="row">
            <div class="col-sm-3">
                @Html.TextBoxFor(n => n.Year, "", new { @class = "form-control"})
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(n => n.No, "", new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">วันที่เริ่มต้น - สิ้นสุด</label>
        <div class="row">
            <div class="col-sm-3">
                @Html.TextBoxFor(n => n.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(n => n.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
            </div>
        </div>



    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">ชื่อแบบประเมิน</label>
        @Html.TextBoxFor(n => n.EvaluationName, "", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">รายละเอียดแบบประเมิน</label>
        @Html.TextAreaFor(n => n.EvaluationDetail, 5, 100, new { @class = "form-control" })
    </div>
    <h5>ข้อมูลอ้างอิงของแบบประเมิน</h5>

    <div class="form-group">
        <label for="exampleInputEmail1">ข้อมูลการทำงาน</label>
        @Html.CheckBoxFor(n => n.RequestTimeSheet)
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">เริ่มต้น - สิ้นสุด</label>
        <div class="row">
            <div class="col-sm-3">
                @Html.TextBoxFor(n => n.TimeSheetStart, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(n => n.TimeSheetEnd, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
            </div>
        </div>
    </div>
    <h5>แจ้งเตือน Email</h5>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputEmail1">แจ้งเตือนก่อนเปิด</label>
                @Html.TextBoxFor(n => n.BeforeNoti, "", new { @class = "form-control", type = "number" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputEmail1">แจ้งเตือนก่อนหมดอายุ</label>
                @Html.TextBoxFor(n => n.ExpireNoti, "", new { @class = "form-control", type = "number" })
            </div>
        </div>
    </div>


    <h5>เลือกผู้เข้ารับการประเมิน/ความพึงพอใจ</h5>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#employeeModal">เพิ่มผู้เข้ารับการประเมิน</button>
    @*<ul id="employeeSelect">
        </ul>*@
    <br>
    <br>
    <table id="employeeSelect" class="table">
        <thead>
            <tr>
                <th>รหัส</th>
                <th>ชื่อ</th>
                <th>ลบ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.Emp.Where(n => n.DeleteFlag == false))
            {
                <tr>
                    <td>@e.Employee.EmpCode</td>
                    <td>@e.Employee.Name @e.Employee.LastName</td>
                    <td><button class="btn btn-danger" type="button">ลบ</button></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">เลือกผู้เข้ารับการประเมิน</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="employee" class="display" style="width:100%">
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <h5>ลำดับผู้ประเมิน</h5>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#flowModal">เพิ่มผู้ประเมิน</button>
    @*<ul id="flowSelect">
        </ul>*@

    <br>
    <br>
    <table id="flowSelect" class="table">
        <thead>
            <tr>
                <th>รหัส</th>
                <th>ชื่อ</th>
                <th>ลบ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.Assessors.Where(n => n.DeleteFlag == false).Select(n => new { n.Order, n.EmpAssessor }).Distinct().OrderBy(n => n.Order))
            {
                <tr>
                    <td>@e.EmpAssessor.EmpCode</td>
                    <td>@e.EmpAssessor.Name @e.EmpAssessor.LastName</td>
                    <td><button class="btn btn-danger"  type="button">ลบ</button></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="modal fade" id="flowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">เลือกผู้ประเมิน</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="flow" class="display" style="width:100%">
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <h5>Template</h5>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#templateModal">เลือก Template</button>

    <br> <br>
    <table id="templateSelect" class="table">
        <thead>
            <tr>
          
                <th>ชื่อ</th>
                <th>น้ำหนัก</th>
                <th>ลบ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.Data.Where(n => n.DeleteFlag == false).OrderBy(n=>n.Order))
            {
                <tr>
             
                    <td id="templateName">@e.Name</td>
                    <td>@Html.TextBox("Weigth", @e.Weigth, "", new { @class = "form-control", type = "number" })</td>
                    <td><button class="btn btn-danger" type="button">ลบ</button></td>
                </tr>
            }
        </tbody>
        <tfoot>

            <tr>
                <td ></td>

                <td class="sumweigth">0</td>
                <td></td>
            </tr>

        </tfoot>
    </table>
    <div class="modal fade" id="templateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">เลือก Template</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="template" class="display" style="width:100%">
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <button type="button" onclick="Save()" class="btn btn-primary">บันทึก</button>
</form>

<script>

    $(document).ready(function () {
        $('#employeeSelect').DataTable({ "ordering": false, "paging": false,});
        $('#flowSelect').DataTable({ "ordering": false, "paging": false, });
        $('#templateSelect').DataTable({ "ordering": false, "paging": false, });

        setTimeout(function () {
            var a = $("#templateSelect> tbody>tr");
            var sum = 0;
            $.each(a, function (index) {

                if ($(a[index]).find("#Weigth").val() != "") {
                    sum = sum + parseInt($(a[index]).find("#Weigth").val());
                }
                //   console.log(sum);
                $(".sumweigth").html(sum);
            });
        }, 1000);

    


        $(document).on('change', '#Weigth', function (value) {
           // console.log(value.target.value)

            var a = $("#templateSelect> tbody>tr");
            var sum = 0;
            $.each(a, function (index) {

                if ($(a[index]).find("#Weigth").val() != "") {
                    sum = sum + parseInt($(a[index]).find("#Weigth").val());
                    }
                //   console.log(sum);

            });

            $(".sumweigth").html(sum);

        });

        setTimeout(function () {
            $('#employee').DataTable(
                {
                    "processing": true,
                    "serverSide": true,
                    "pageLength": 10,
                    "ajax": {
                        "url": "/api/Employee/GetEmployee",
                        "type": "POST",
                        'beforeSend': function (request) {
                            //  request.setRequestHeader("Content-Type", "application/json");
                        }

                    },
                    "columns": [
                        {
                            "data": "EmpCode", "title": "รหัส"
                        },
                        {
                            "data": "Name", "title": "ชื่อ"
                        },
                        {
                            "data": "LastName", "title": "นามสกุล"
                        },
                        {
                            data: "Id",
                            "title": "ตัวเลือก",
                            render: function (data, type, row) {


                                return '<button type="button" class="btn btn-primary" onclick="add(\'' + row.EmpCode + '\',\'' + row.Name + '\',\'' + row.LastName + '\')" >เลือก</a>';

                            }
                        }
                    ]
                }
            );
        }, 500);

        setTimeout(function () {

            $('#flow').DataTable(
                {
                    "processing": true,
                    "serverSide": true,
                    "pageLength": 10,
                    "ajax": {
                        "url": "/api/Employee/GetEmployee",
                        "type": "POST",
                        'beforeSend': function (request) {
                            //  request.setRequestHeader("Content-Type", "application/json");
                        }

                    },
                    "columns": [
                        {
                            "data": "EmpCode", "title": "รหัส"
                        },
                        {
                            "data": "Name", "title": "ชื่อ"
                        },
                        {
                            "data": "Name", "title": "นามสกุล"
                        },
                        {
                            data: "Id",
                            "title": "ตัวเลือก",
                            render: function (data, type, row) {


                                return '<button type="button" class="btn btn-primary" onclick="addFlow(\'' + row.EmpCode + '\',\'' + row.Name + '\',\'' + row.LastName + '\')" >เลือก</a>';

                            }
                        }
                    ]
                }
            );
        }, 1000);

        setTimeout(function () {
            $('#template').DataTable(
                {
                    "processing": true,
                    "serverSide": true,
                    "pageLength": 10,
                    "ajax": {
                        "url": "/api/EvaluationApi/GetDataTableTemplate",
                        "type": "POST",
                        'beforeSend': function (request) {
                            //  request.setRequestHeader("Content-Type", "application/json");
                        }

                    },
                    "columns": [
                        {
                            "data": "Id", "title": "รหัส"
                        },
                        {
                            "data": "Name", "title": "ชื่อ"
                        },
                        {
                            "data": "EvaluationType", "title": "ประเภท"
                        },
                        {
                            data: "Id",
                            "title": "ตัวเลือก",
                            render: function (data, type, row) {


                                return '<button type="button" class="btn btn-primary" onclick="addTemplate(\'' + row.Name + '\')" >เลือก</a>';

                            }
                        }
                    ]
                }
            );
        }, 1500);
    });
    function add(EmpCode, Name, LastName) {
        //console.log("<li>" + EmpCode + " " + Name + " " + LastName + "</li>")
        //var li = $('<li></li>');
        //li.html("<li>" + EmpCode + " " + Name + " " + LastName + "</li>");

        var t = $('#employeeSelect').DataTable();
        t.row.add([EmpCode, Name + ' ' + LastName, '<button class="btn btn-danger"  type="button">ลบ</button>']).draw(false);
    }
    $('#employeeSelect tbody').on('click', '.btn-danger', function () {

        if (confirm("ยืนยันการลบ")) {
            $('#employeeSelect ').DataTable()
                .row($(this).parents('tr'))
                .remove()
                .draw();
        }

    });
    $('#flowSelect tbody').on('click', '.btn-danger', function () {

        if (confirm("ยืนยันการลบ")) {
            $('#flowSelect ').DataTable()
                .row($(this).parents('tr'))
                .remove()
                .draw();
        }

    });
    $('#templateSelect tbody').on('click', '.btn-danger', function () {

        if (confirm("ยืนยันการลบ")) {
            $('#templateSelect ').DataTable()
                .row($(this).parents('tr'))
                .remove()
                .draw();
            var a = $("#templateSelect> tbody>tr");
            var sum = 0;
            $.each(a, function (index) {

                if ($(a[index]).find("#Weigth").val() != "") {
                    sum = sum + parseInt($(a[index]).find("#Weigth").val());
                }
                //console.log(sum);

            });

            $(".sumweigth").html(sum);
        }

    });

    function addTemplate(Name) {


        var t = $('#templateSelect').DataTable();
        t.row.add([Name,'<input class="form-control" id="Weigth" name="Weigth" type="number" value="0">', '<button class="btn btn-danger"  type="button">ลบ</button>']).draw(false);
    }

    function addFlow(EmpCode, Name, LastName) {

        var t = $('#flowSelect').DataTable();
        t.row.add([EmpCode, Name + ' ' + LastName, '<button class="btn btn-danger"  type="button">ลบ</button>']).draw(false);
    }
    function Save() {

        var evaluation = {};
        @if (Model!= null) {
            <text>
        evaluation.Id = @Model.Id
            </text>
        }
            evaluation.Name = $("#EvaluationName").val();
        evaluation.Year = $("#Year").val();
        evaluation.No = $("#No").val();
        evaluation.StartDate = $("#StartDate").val();
        evaluation.EndDate = $("#EndDate").val();
        evaluation.Desc = $("#EvaluationDetail").val();
        evaluation.RequireTimesheet = $('#RequestTimeSheet').is(":checked");
        evaluation.TimeSheetStart = $("#TimeSheetStart").val();
        evaluation.TimeSheetEnd = $("#TimeSheetEnd").val();
        evaluation.BeforeNoti = $("#BeforeNoti").val();
        evaluation.ExpireNoti = $("#ExpireNoti").val();

        var e = $('#employeeSelect').DataTable().rows().data();
        var emp = [];
        for (i = 0; i < e.length; i++) {
            emp.push(e[i][0]);
        }

        evaluation.Emp = emp;

        var a = $('#flowSelect').DataTable().rows().data();
        var ass = [];
        for (i = 0; i < a.length; i++) {
            ass.push(a[i][0]);
        }

        evaluation.Assessor = ass;


        var a = $("#templateSelect> tbody>tr");
        var tp = [];
        $.each(a, function (index) {

            tp.push({
                Name: $(a[index]).find("td:eq(0)").text(),
                Weigth: parseInt($(a[index]).find("#Weigth").val())
            });

        });


        
        evaluation.Template = tp;
       // console.log(t);
        console.log(evaluation);

        $.ajax({
            url: "/api/EvaluationApi/SaveEvaluation",
            type: 'post',
            data: JSON.stringify(evaluation),
            dataType: 'json',
            headers: {
                "Content-Type": "application/json",
            },

            success: function (response) {

                window.location.href = "/Evaluation/Evaluation";

            },
        });

    }

</script>