﻿@model   Kpi.Entity.Evaluation
@{
    ViewData["Title"] = "OrderAssersor";
    Layout = "~/Views/Main/Index.cshtml";
}
<style>
    th{
        background-color:white
    }
</style>

    <table class="table responsive">
        <thead>
            <tr>
                <th width="200px">พนักงาน</th>
                @foreach (var e in Model.Assessors.Where(n => n.DeleteFlag == false).Select(n => new { n.Order, n.EmpAssessor }).Distinct().OrderBy(n => n.Order))
                {
                    <th  width="200px">@e.EmpAssessor.EmpCode <br>@e.EmpAssessor.Name @e.EmpAssessor.LastName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.Emp.Where(n=>n.DeleteFlag==false))
            {
            <tr>
                <td width="200px">@e.Employee.EmpCode @e.Employee.Name @e.Employee.LastName @Html.Hidden("EmpCode", e.Employee.EmpCode)</td>
                @foreach (var a in Model.Assessors.Where(n => n.DeleteFlag == false).Select(n => new { n.Order,n.EmpAssessor}).Distinct().OrderBy(n=>n.Order))
                {
                    <td width="200px"> @Html.Hidden("AssessorsCode", a.EmpAssessor.EmpCode) @Html.TextBox("Weigth", ((Model.Assessors.Where(n => n.DeleteFlag == false && n.EmpAssessor == a.EmpAssessor && n.Emp == e.Employee).FirstOrDefault() == null)?0:Model.Assessors.Where(n => n.DeleteFlag == false && n.EmpAssessor == a.EmpAssessor && n.Emp == e.Employee).FirstOrDefault().Weigth), "", new { @class = "form-control" })</td>
                }
            </tr>
            }
        </tbody>
    </table>
<br />
<button type="button" class="btn btn-primary" onclick="Save()">บันทึก</button>
<script>
    $(document).ready(function () {
        $('.table').dataTable({
            dom: 'Bfrtip',
            //ordering: false,
            paging: false,
            sScrollX: "100%",
            sScrollXInner: "150%" ,
            scrollCollapse: true,
            scrollY: "500px",
            colReorder: {
                fixedColumnsLeft: 1
            },
            fixedColumns: {
                leftColumns: 1
            }
        });
    });
    function Save() {
        var order = [];
        $('.table>tbody>tr').each(function (data) {
 
            var e = this;
            $(this).find("td").each(function (index) {
                if (index > 0) {
       
                    order.push({
                        Emp: $(e).find("#EmpCode").val(),
                        Assesor: $(this).find("#AssessorsCode").val(),
                        Weigth: $(this).find("#Weigth").val()
                    });
                }
            })
            
        
        });

        $.ajax({
            url: "/api/EvaluationApi/SaveOrder?eval=@Model.Id",
            type: 'post',
            data: JSON.stringify(order),
            dataType: 'json',
            headers: {
                "Content-Type": "application/json",
            },

            success: function (response) {

                window.location.href = "/Evaluation/Evaluation";

            },
        });
       // console.log(order);
    }
</script>