﻿
@{
    ViewData["Title"] = "RawReport";
    Layout = "~/Views/Main/Index.cshtml";
}

<div class="card" style="margin:10px">
    <div class="card-body">

        <table id="table_id" class="display">
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable(
            {
                "processing": true,
                "serverSide": true,
                "pageLength": 10,
                "ajax": {
                    "url": "/api/EvaluationApi/GetEvaluationAll",
                    "type": "POST",
                    'beforeSend': function (request) {
                        //  request.setRequestHeader("Content-Type", "application/json");
                    }

                },
                "columns": [
                    {
                        "data": "Id", "title": "รหัส"
                    },
                    {

                        "title": "ปี",
                        render: function (data, type, row) {


                            return row["Year"] + "/" + row["No"];

                        }
                    },
                    {
                        "data": "EvaluationName", "title": "ชื่อ"
                    },
                    { "data": "StartDateString", "title": "เริ่มวันที่" },
                    { "data": "EndDateString", "title": "สิ้นสุดวันที่" },
                    {
                        data: "Id",
                        "title": "รายงาน",
                        render: function (data, type, row) {


                            return '<a class="btn btn-primary" href="http://203.154.83.161:5000/api/Report/GetReport?reportName=/KPI/RawReportEvaluation&id=' + data + '&type=pdf" >PDF</a><a class="btn btn-primary" href="http://203.154.83.161:5000/api/Report/GetReport?reportName=/KPI/RawReportEvaluation&id=' + data + '&type=xlsx" >EXCEL</a>';

                        }
                    }

                ]
            }
        );
    });

</script>
