﻿@model Kpi.Entity.Evaluation
@{
    ViewData["Title"] = "ReportStatusDetail";
    Layout = "~/Views/Main/Index.cshtml";
}

<h1>สถานะการประเมิน @Model.EvaluationName</h1>
<table class="table responsive">
    <thead>
        <tr>
            <th align="center">ผู้เข้ารับการประเมิน</th>
            <th align="center" width="200px">วันที่ส่ง</th>
            @foreach (var a in Model.Assessors.Where(n => n.DeleteFlag == false).OrderBy(n => n.Order).Select(n => n.EmpAssessor).Distinct())
            {
                <th align="center">@a.Name @a.LastName</th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var e in Model.Emp.Where(n => n.DeleteFlag == false))
        {
        <tr>
            <td >@e.Employee.Name @e.Employee.LastName</td>
            <td align="center">
                @if (e.Send)
                {
                    <text>ส่งแบบประเมินแล้ว</text>
                   <br>
                    if (@e.SendateTime != null) {
                        <text>@e.SendateTime.Value.ToString("dd-MM-yyyy HH:mm:ss")</text>
                    }
                }

                else
                {
                    <text>ยังไม่ได้ส่งแบบ</text>
                }
            </td>
            @foreach (var a in Model.Assessors.Where(n => n.DeleteFlag == false && n.Emp == e.Employee).OrderBy(n => n.Order))
            {
        <td align="center">
            @if (a.Weigth > 0)
            {
                @if (a.Send)
                {
                    <text>ส่งแบบประเมินแล้ว</text>
                    <br>
                    if (@a.SendDate != null)
                    {
                        <text>@a.SendDate.Value.ToString("dd-MM-yyyy HH:mm:ss")</text>

                    }
                }
                else if (a.Working)
                {
                    <text>กำลังทำแบบประเมิน</text>
                }
                else if (a.RejectDate != null)
                {
                    <text><span style="color:red">Reject</span></text><br>
                    <text>@a.RejectDate.Value.ToString("dd-MM-yyyy HH:mm:ss")</text><br>
                    <text>@a.RejectComment</text>
                }
                else
                {
                    <text>ยังไม่ได้ส่งแบบ</text>
                }
            }
            else
            {
                <text>-</text>
            }

        </td>
            }
                </tr>
        }
      </tbody>
</table>
<style>
    .table{
        background-color:white;
    }
</style>
<script>
    $(document).ready(function () {
        $(".table").DataTable({
            ordering: false,
            searching: false,
            sScrollX: "100%",
            sScrollXInner: "@((Model.Assessors.Where(n => n.DeleteFlag == false).OrderBy(n => n.Order).Select(n => n.EmpAssessor).Distinct().Count()<5)?"100%":((((Model.Assessors.Where(n => n.DeleteFlag == false).OrderBy(n => n.Order).Select(n => n.EmpAssessor).Distinct().Count()*200)+200).ToString()+"px")))",
            scrollCollapse: true,
            scrollY: "500px",

            fixedColumns: {
                leftColumns: 1
            },
            "columnDefs": [
                { "width": "200px", "targets": 0 },

            ]
        });
    });
</script>
