﻿
@{
    ViewData["Title"] = "Template";
    Layout = "~/Views/Main/Index.cshtml";
}


<div class="card" style="margin:10px">
    <div class="card-body">
        <h5 class="card-title">ข้อมูล</h5>
        <a class="btn btn-primary" href="/Evaluation/ManageTemplate">สร้าง Template</a>
        <br />
        <br />
        <table id="table_id" class="display">
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable(
            {
                "processing": true,
                "serverSide": true,
                "pageLength": 10,
                "ajax": {
                    "url": "/api/EvaluationApi/GetDataTableTemplate",
                    "type": "POST",
                    'beforeSend': function (request) {
                        //  request.setRequestHeader("Content-Type", "application/json");
                    }

                },
                "columns": [
                    {
                        "data": "Id", "title": "รหัส"
                    },
                    {
                        "data": "Name", "title": "ชื่อ"
                    },
                    { "data": "EvaluationType", "title": "ประเภท" },
                    {
                        data: "Id",
                        "title": "แก้ไข",
                        render: function (data, type, row) {

                        
                            return '<a class="btn btn-primary" href="/Evaluation/EditTemplate?id='+data+'" >แก้ไข</a>';
                      
                        }
                    }
                ]
            }
        );
    });

</script>