﻿@model Swane.Models.ProductModel
@{
    ViewData["Title"] = "สินค้า";
    Layout = "~/Views/Main/Index.cshtml";
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">เพิ่มสินค้า</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="Product/Add" method="post">
                <div class="modal-body">

                    <label for="inputEmail" class="sr-only">ชื่อสินค้า</label>
                    @Html.TextBoxFor(n => n.NameTh, "", new { @class = "form-control", placeholder = "ชื่อสินค้า" })
                    <br>
                    <label for="inputEmail" class="sr-only">จำนวนต่อลัง</label>
                    @Html.TextBoxFor(n => n.Size, "", new { @class = "form-control",@type="number", placeholder = "จำนวนต่อลัง" })
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                    <button type="submit" class="btn btn-primary">บันทึก</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="card" style="margin:10px">
    <div class="card-body">
        <h5 class="card-title">ข้อมูล</h5>

        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">เพิ่มสินค้า</button>
        <br />
        <br />
        <table id="table_id" class="display">
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable(
            {
                "processing": true,
                //"serverSide": true,
                "pageLength": 10,
                "ajax": {
                    "url": "/api/ProductApi/GetProduct",
                    "type": "GET",
                    'beforeSend': function (request) {
                        //  request.setRequestHeader("Content-Type", "application/json");
                    }

                },
                "columns": [
                    {
                        "data": "id", "title": "รหัส"
                    },
                    {
                        "data": "nameTh", "title": "ชื่อ"
                    },
                    { "data": "size", "title": "ขนาด" },
                    {
                        data: "id",
                        "title": "พิมพ์",
                        render: function (data, type, row) {

                            console.log(row)
                            return '<button class="btn btn-primary" onclick="printProduct(\'' + row.nameTh + '\',' + row.id + ',' + row.size +')">พิมพ์</button>';
                        }
                    },
                    {
                        data: "id",
                        "title": "ลบ",
                        render: function (data, type, row) {
                            return '<button class="btn btn-danger" onclick="deleteProduct('+data+')">ลบ</button>';
                        }
                    }
                ]
            }
        );
    });
    function deleteProduct(id) {
        $.get("http://203.150.107.134:9009/api/Product/RemoveProduct?productId="+id, function (data, status) {
           // alert("Data: " + data + "\nStatus: " + status);
            location.reload();
        });
        location.reload();
    }
    function printProduct(name,id,size) {
        console.log(name);
        console.log(id);
        console.log(size);
        var tenure = prompt("กรุณาใส่จำนวนที่ต้องการพิมพ์", "1");

        if (tenure != null) {
            $.get("/api/QrCode/GetQrCode?productId=" + id + "&proudctName=" + name + "&size=" + size + "&qty=" + tenure, function (data, status) {
                // alert("Data: " + data + "\nStatus: " + status);
                location.reload();
            });
           // alert("You have entered " + tenure + " years");
        }
    }

</script>

