﻿@model Kpi.Entity.SurveyTemplate
@{
    ViewData["Title"] = "EditTemplate";
    Layout = "~/Views/Main/Index.cshtml";
}

<form action="/SurveyTemplate/SurveyDetailTemplate" method="post">
    <h1>สร้าง Template</h1>
    <div class="form-group">
        <label for="exampleInputEmail1">ชื่อ Template</label>
        @Html.TextBoxFor(n => n.SurveryName, "", new { @class = "form-control" })
    </div>
    
    @Html.HiddenFor(n => n.Id);

    <button class="btn btn-primary">ถัดไป</button>
</form>

