﻿@model Kpi.Entity.SurveyTemplate
@{
    ViewData["Title"] = "SurveyDetailTemplate";
    Layout = "~/Views/Main/Index.cshtml";
}

    <form action="/SurveyTemplate/SurveyDetailTemplate" method="post">
        <h1>สร้าง Template</h1>
        @foreach (var n in Model.SurveyDetailTemplate.OrderBy(n => n.Order))
        {
            <a name="@n.Name"></a>
            <div class="card" style="width: 100%;margin:10px">

                <div class="card-body">

                    <div class="form-group">

                        @Html.TextBox("Name", n.Name, "", new { @class = "form-control", @readonly = true })
                        @if (n.MutiSelect)
                        {
                            <span>(เลือกได้หลายข้อ)</span>
                        }
                    </div>
                    @foreach (var n1 in n.SurveyDetailChooseTemplates.Where(n => n.DeleteFlag == false).OrderBy(n => n.Order))
                    {
                        <div class="form-group">

                            @Html.TextBox("Name", n1.Name, "", new { @class = "form-control", @readonly = true })
                            @if (n1.Next != null)
                            {
                                <a href="#@n1.Next.Name">(ข้อถัดไป @n1.Next.Name)</a>
                            }
                        </div>
                    }
                </div>
            </div>
        }
        @Html.HiddenFor(n => n.Id);

        <button class="btn btn-primary">ถัดไป</button>
    </form>
