﻿@model Kpi.Models.LoginModel
@{
    ViewData["Title"] = "เข้าสู่ระบบ";
    Layout = "~/Views/Index.cshtml";
}
<style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
        text-align: center;
    }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

            .form-signin .form-control:focus {
                z-index: 2;
            }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
</style>

<form class="form-signin" method="post">
    <img class="mb-4" src="~/image/kpi_logo.png" alt="" width="300"><br>
    @Html.ValidationMessage("LoginFail", "", new { @class = "redText" })
    <h1 class="h3 mb-3 font-weight-normal">เข้าสู่ระบบ</h1>

    <label for="inputEmail" class="sr-only">ชื่อผู้ใช้งาน</label>

    @Html.TextBoxFor(n => n.UserName, "", new { @class = "form-control", placeholder = "ชื่อผู้ใช้งาน" })
    @Html.ValidationMessageFor(n => n.UserName, "", new { @class = "redText" })
    <label for="inputPassword" class="sr-only">รหัสผ่าน</label>

    @Html.TextBoxFor(n => n.Password, "", new { @class = "form-control", @type = "password", placeholder = "รหัสผ่าน" })
    @Html.ValidationMessageFor(n => n.Password, "", new { @class = "redText" })
    <button class="btn btn-lg btn-primary btn-block" type="submit">เข้าสู่ระบบ</button>
    <a href="https://kpiadmin.pmcu.co.th/?cuscode=PMCU-KPI01">สำหรับเจ้าหน้าที่</a>
</form>

