﻿@model List<Kpi.Entity.FeedBackFromAsseert>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Main/Index1.cshtml";
}

<h5>@ViewData["FeedbackName"] </h5>
@foreach (var f in Model.Where(n=>n.DeleteFlag==false))
{
    <h5>หัวข้อ @f.FeedBackDetail.Name</h5>

    <h5 style="padding-left:10px">@f.FeedBack</h5>
    <hr>

}
<center>

    @*<button class="btn btn-primary" onclick="accept()">ยอมรับ</button>
    <button class="btn btn-danger" onclick="reject()">ไม่ยอมรับ</button>*@
</center>
<script>
    function accept() {
        if (confirm("ยืนยันการยอมรับ")) {
            $.ajax({
                url: "/api/FeedbackApi/Accept",
                type: 'post',
                data: JSON.stringify({
                    FeedbackId:@ViewData["FeedbackId"] ,
                    AssertId:@ViewData["AssertId"]
                }),
                dataType: 'json',
                headers: {
                    "Content-Type": "application/json",
                },

                success: function (response) {
                    //   $('#mymodal').modal('hide');

                    alert("บันทึกข้อมูลเรียบร้อย")
                    window.location.href = "/Main/Index1";

                },
                error: function (response) {
                    // $('#mymodal').modal('hide');
                    alert(JSON.parse(response.responseText)["message"]);
                }
            });
        }
    }

    function reject() {
        var p = prompt("กรุณาระบุเหตุผล", "");

    
        if (p != null) {
            $.ajax({
                url: "/api/FeedbackApi/Reject",
                type: 'post',
                data: JSON.stringify({
                    FeedbackId:@ViewData["FeedbackId"] ,
                    AssertId:@ViewData["AssertId"],
                    reson:p
                }),
                dataType: 'json',
                headers: {
                    "Content-Type": "application/json",
                },

                success: function (response) {
                    //   $('#mymodal').modal('hide');

                    alert("บันทึกข้อมูลเรียบร้อย")
                    window.location.href = "/Main/Index1";

                },
                error: function (response) {
                    // $('#mymodal').modal('hide');
                    alert(JSON.parse(response.responseText)["message"]);
                }
            });
        }
    }
</script>