﻿@model Kpi.Entity.FeedBack
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Main/Index1.cshtml";
}

<h5>@Model.Name</h5>
<table class="table table-responsive" >
    <thead>
        <tr>
            <td>ชื่อผู้เข้ารับการประเมิน</td>
            @foreach (var a in Model.FeedBackDetails)
            {
                <td>@a.Name</td>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model.Feedback)
        {
        <tr data-feedbacid="@e.Id">
            <td data-feedbackemp="@e.Id">@e.employee.Name @e.employee.LastName</td>
            @foreach (var a in Model.FeedBackDetails)
            {
                
                    <td data-feedbacid="@a.Id">@Html.TextArea(a.Name, (Model.FeedBackFromAsseerts.Where(n => n.Assert.Employee.User.Id == (long)ViewData["BaseUser"] && n.FeedBackDetail == a && n.Employee == e && n.DeleteFlag==false).Count()==0)?"":Model.FeedBackFromAsseerts.Where(n => n.Assert.Employee.User.Id == (long)ViewData["BaseUser"] && n.FeedBackDetail == a && n.Employee == e && n.DeleteFlag == false).FirstOrDefault().FeedBack, 3, 20, new { @class = "form-control", placeholder = "กรุณาใส่ความคิดเห็น" })</td>
                
            }
        </tr>
        }
    </tbody>
</table>
<center>
   
    <button class="btn btn-primary" onclick="save()">บันทึก</button>
    <button class="btn btn-primary" onclick="Send()">ส่ง Feedback</button>
</center>
<script>
    function save() {
        if (confirm("ยืนยันการบันทึก")) {
            var data = {
                feedBackId:@Model.Id,
                feedback: []
            };
            $("tbody>tr").each(function () {
                var emp = "";
                var feedback = [];
                $(this).find("td").each(function () {
                    var td1 = $(this).data("feedbackemp");
                    if (td1 != null || td1 != undefined)
                        emp = td1;
                    var td2 = $(this).data("feedbacid");
                    if (td2 != null || td2 != undefined)
                        feedback.push({
                            feedbackId: td2,
                            feedback: $(this).find("textarea").val()
                        })
                })
                data.feedback.push({
                    emp: emp,
                    feedback: feedback
                })
            })
             $.ajax({
                 url: "/api/FeedbackApi/SaveFeedback",
                type: 'post',
                data: JSON.stringify(data),
                dataType: 'json',
                headers: {
                    "Content-Type": "application/json",
                },

                success: function (response) {
                 //   $('#mymodal').modal('hide');

                    alert("บันทึกข้อมูลเรียบร้อย")
                    //window.location.href = "/Main";

                },
                error: function (response) {
                   // $('#mymodal').modal('hide');
                    alert(JSON.parse(response.responseText)["message"]);
                }
            });
        }
    }

    function Send() {
        if (confirm("ยืนยันการส่ง Feedback")) {
            var data = {
                feedBackId:@Model.Id,
                feedback: []
            };
            $("tbody>tr").each(function () {
                var emp = "";
                var feedback = [];
                $(this).find("td").each(function () {
                    var td1 = $(this).data("feedbackemp");
                    if (td1 != null || td1 != undefined)
                        emp = td1;
                    var td2 = $(this).data("feedbacid");
                    if (td2 != null || td2 != undefined)
                        feedback.push({
                            feedbackId: td2,
                            feedback: $(this).find("textarea").val()
                        })
                })
                data.feedback.push({
                    emp: emp,
                    feedback: feedback
                })
            })
             $.ajax({
                 url: "/api/FeedbackApi/SendFeedback",
                type: 'post',
                data: JSON.stringify(data),
                dataType: 'json',
                headers: {
                    "Content-Type": "application/json",
                },

                success: function (response) {
                 //   $('#mymodal').modal('hide');

                    alert("บันทึกข้อมูลเรียบร้อย")
                    window.location.href = "/Main/Index1";

                },
                error: function (response) {
                   // $('#mymodal').modal('hide');
                    alert(JSON.parse(response.responseText)["message"]);
                }
            });
        }
    }
</script>
