﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ลงทะเบียน</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>

    </head>
    <style>

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        body{
            padding:20
        }
     
    </style>
    <body>
        <center><img src="image/logo.jpg" width="100"></center> 
        <!-- A comment is visible in the source code only -->
        <p><strong>สัญญาตัวแทน</strong></p>
        <p>สัญญาต่อไปนี้ ทำขึ้นระหว่าง <strong>&ldquo;บริษัท บีสวอน กรุ๊ป จำกัด&rdquo;</strong> ซึ่งต่อไปนี้จะเรียกว่า <strong>&ldquo;บริษัท&rdquo;</strong> ฝ่ายหนึ่ง กับผู้สมัครสมาชิกตามใบสมัครสมาชิก ซึ่งต่อไปนี้จะเรียกว่า <strong>&ldquo;ตัวแทน&rdquo;</strong> อีกฝ่ายหนึ่ง</p>
        <p><strong>คู่สัญญาตกลงกัน โดยมีรายละเอียดดังต่อไปนี้</strong></p>
        <ol>
            <li>
                <strong>เรื่อง การขายตัดราคา</strong>
                <ul>
                    <li>
                        ห้ามตัวแทนโพสขายสินค้าทุกชนิด (Swane&rsquo; และ Shake Me) ในราคาที่ต่ำกว่าทางบริษัทได้กำหนดไว้ โดยมีรายละเอียดดังนี้
                        <ul>
                            <li>ตัวแทนทุกท่านสามารถโพสขายสินค้าได้ในราคาขายปลีก และราคาโปรโมชั่นตามที่บริษัทกำหนดไว้เท่านั้น</li>
                            <li>ไม่อนุญาตให้โพสขายสินค้าในราคาเรทตัวแทน</li>
                        </ul>
                    </li>
                    <li>ห้ามตัวแทนจัดทำโปรโมชั่น ข้อเสนอ หรือเงื่อนไขพิเศษใดๆ ที่ทำให้เกิดการลดราคาของตัวสินค้า ให้ต่ำกว่าราคาขั้นต่ำที่ทางบริษัทได้กำหนดไว้</li>
                </ul>
            </li>
        </ol>
        <p><strong>หากตัวแทนทำผิดข้อตกลงดังกล่าว บริษัทจะดำเนินการดังต่อไปนี้</strong></p>
        <ul>
            <li>การตักเตือนจากทางบริษัท</li>
            <li>ลบรหัส และให้พ้นสภาพการเป็นตัวแทน พร้อมทั้งยึดโบนัสต่างๆ ที่ได้รับจากบริษัททั้งหมด</li>
            <li>บริษัทดำเนินการตามกฎหมาย และเรียกร้องค่าเสียหาย โดยตัวแทนยินยอมที่จะชำระค่าปรับที่ 100,000บาท (หนึ่งแสนบาทถ้วน) หรือขึ้นอยู่กับดุลยพินิจของทางบริษัท</li>
        </ul>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>หมายเหตุ</strong><strong>* </strong>กรณีตัวแทนทำผิดข้อตกลงของทางบริษัทฯ บริษัทขอสงวนสิทธิ์ในการดำเนินการต่างๆ ให้ขึ้นอยู่กับดุลยพินิจของบริษัท</p>
        <ol start="2">
            <li><strong>เรื่อง การขายสินค้าในร้านขายส่ง </strong><strong>/ Shopee / Lazada</strong></li>
        </ol>
        <ul>
            <li>บริษัทไม่อนุญาตให้ตัวแทนทุกท่าน จัดจำหน่ายสินค้าในช่องทางร้านขายส่งทุกประเภท รวมถึงช่องทางออนไลน์อย่าง Shopee และ Lazada ด้วย</li>
        </ul>
        <p><strong>หากตัวแทนทำผิดข้อตกลงดังกล่าว บริษัทจะดำเนินการดังต่อไปนี้</strong></p>
        <ul>
            <li>การตักเตือนจากทางบริษัท</li>
            <li>ลบรหัส และให้พ้นสภาพการเป็นตัวแทน พร้อมทั้งยึดโบนัสต่างๆ ที่ได้รับจากบริษัททั้งหมด</li>
            <li>บริษัทดำเนินการตามกฎหมาย และเรียกร้องค่าเสียหาย โดยตัวแทนยินยอมที่จะชำระค่าปรับที่ 100,000บาท (หนึ่งแสนบาทถ้วน) หรือขึ้นอยู่กับดุลยพินิจของทางบริษัท</li>
        </ul>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>หมายเหตุ</strong><strong>* </strong>กรณีตัวแทนทำผิดข้อตกลงของทางบริษัทฯ บริษัทขอสงวนสิทธิ์ในการดำเนินการต่างๆ ให้ขึ้นอยู่กับดุลยพินิจของบริษัท</p>
        <ol start="3">
            <li><strong>เรื่อง การสมัครสายงานใหม่</strong></li>
        </ol>
        <ul>
            <li>
                ตัวแทนจำหน่ายที่มีความประสงค์จะสมัครสายงานใหม่ หรือเปลี่ยนสายงาน มีเงื่อนไขดังนี้
                <ul>
                    <li>แจ้งความประสงค์ในการลาออกจากรหัสบัตรเดิม (โดยต้องได้รับความยินยอมจากต้นสาย)</li>
                </ul>
            </li>
        </ul>
        <ol start="4">
            <li>
                <strong>เรื่อง การซื้อขายข้ามสายงาน</strong>
                <ul>
                    <li>กรณีที่ตัวแทนจำหน่ายมีแม่ทีม</li>
                </ul>
            </li>
        </ol>
        <ul>
            <li>ตัวแทนจะต้องเบิกของกับแม่ทีมของตนเองเท่านั้น</li>
            <li>
                แม่ทีมห้ามขายของให้ลูกทีมของทีมอื่นโดยเด็ดขาด
                <ul>
                    <li>หากมีผู้แอบอ้างขอเบิกของ/สั่งของ หรือเสนอข้อเสนอพิเศษ ตลอดจนเงื่อนไขต่างๆ ที่แอบอ้างว่ามาจากบริษัท ให้ทำการตรวจสอบกับบริษัทโดยตรงทุกครั้ง หากไม่ได้ออกจากบริษัทจริง ทางบริษัทขอไม่รับผิดชอบใดๆทั้งสิ้น</li>
                </ul>
            </li>
        </ul>
        <p><strong>หากตัวแทนทำผิดข้อตกลงดังกล่าว บริษัทจะดำเนินการดังต่อไปนี้</strong></p>
        <p>ครั้งที่ 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; การตักเตือนจากทางบริษัท</p>
        <p>ครั้งที่ 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ยึดบัตรตัวแทนจำหน่าย หรือ ลบรหัส</p>
        <p>ครั้งที่ 3 &nbsp;&nbsp;&nbsp;&nbsp; เรียกค่าเสียหาย และดำเนินการตามกฎหมายจนถึงที่สุด</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <ol start="5">
            <li>
                <strong>เรื่อง การสร้างความเสียหายต่อ บริษัท แม่ทีม และตัวแทนจำหน่ายในบริษัท</strong>
                <ul>
                    <li>ห้ามใช้คำพูด การกระทำ หรือพฤติกรรมใดๆ ที่จะทำให้เกิดความเสื่อมเสีย สร้างความขัดแย้ง ความเสียหายให้กับทั้งทรัพย์สินและชื่อเสียงของบริษัท</li>
                    <li>ห้ามใช้คำพูด การกระทำ หรือพฤติกรรมใดๆที่มีการระบุถึงชื่อบริษัท ชื่อสินค้า ชื่อของแม่ทีม และชื่อของตัวแทน (ทั้งในสายงานและค่างสายงาน) ในเชิงลบ หรือทำให้เกิดความเสื่อมเสีย หรือทำให้เกิดความเสียหายในทุกๆช่องทางการสื่อสาร และทุกๆกรณี</li>
                </ul>
            </li>
        </ol>
        <p><strong>หากตัวแทนทำผิดข้อตกลงดังกล่าว บริษัทจะดำเนินการดังต่อไปนี้</strong></p>
        <p>ครั้งที่ 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; การตักเตือนจากทางบริษัท</p>
        <p>ครั้งที่ 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ยึดบัตรตัวแทนจำหน่าย หรือ ลบรหัส</p>
        <p>ครั้งที่ 3 &nbsp;&nbsp;&nbsp;&nbsp; เรียกค่าเสียหาย และดำเนินการตามกฎหมายจนถึงที่สุด</p>
        <p>&nbsp;</p>
        <p><strong>ตัวแทนได้อ่านและเข้าใจข้อตกลงในสัญญาฉบับนี้โดยตลอดแล้ว จึงตกลงปฏิบัติตามวัตถุประสงค์ของสัญญา</strong></p>
        <center>
            <a href="Register/Register?User=@ViewData["user"]" class="btn btn-primary">ยอมรับข้อตกลง</a>
        
        </center>
    </body>
</html>
