﻿@model Swane.Models.RegisterModel;
@{
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>แก้ไข Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>

</head>
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @@media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

            .form-signin .form-control:focus {
                z-index: 2;
            }

        .form-signin input {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .form-signin textarea {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

    .error {
        color: red;
    }
</style>
<body class="text-center">
    <form class="form-signin" action="/Register/UpdateRegister" method="post" enctype="multipart/form-data">
        @Html.ValidationMessage("Error", null, new { @class = "error" })
        <h1 class="h3 mb-3 font-weight-normal">ลงทะเบียนผู้ใช้งาน</h1>

        @*@Html.ValidationMessageFor(x => x.UserName, null, new { @class = "error" })
        @Html.TextBoxFor(n => n.UserName, "", new { @class = "form-control", placeholder = "ชื่อผู้ใช้งาน" })*@
        @Html.HiddenFor(n => n.Id, new { @class = "form-control", placeholder = "รหัส" })
        @Html.ValidationMessageFor(x => x.Password, null, new { @class = "error" })
        @Html.HiddenFor(n => n.Password, new { @class = "form-control", placeholder = "รหัสผ่าน" })
        @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new { @class = "error" })
        @Html.HiddenFor(n => n.ConfirmPassword, new { @class = "form-control", placeholder = "ยืนยันรหัสผ่าน" })
        @Html.ValidationMessageFor(x => x.IdCard, null, new { @class = "error" })
        @Html.TextBoxFor(n => n.IdCard, new { @class = "form-control", placeholder = "บัตรประจำตัวประชาขน", @readonly=true })
        @*@Html.ValidationMessageFor(x => x.IdCardFile, null, new { @class = "error" })
        @Html.LabelFor(n => n.IdCardFile, "ภาพบัตรประจำตัวประชาชน")
        <input type="file" class="form-control" name="IdCardFile" id="IdCardFile" asp-for="IdCardFile" />

        @Html.ValidationMessageFor(x => x.ImageFile, null, new { @class = "error" })
        @Html.LabelFor(n => n.ImageFile, "ภาพถ่ายหน้าตรง")
        <input type="file" class="form-control" name="ImageFile" id="ImageFile" asp-for="ImageFile" />*@

        @Html.ValidationMessageFor(x => x.Name, null, new { @class = "error" })
        @Html.TextBoxFor(n => n.Name, new { @class = "form-control", placeholder = "ชื่อ นามสกุล" })

        @Html.ValidationMessageFor(x => x.NickName, null, new { @class = "error" })
        @Html.TextBoxFor(n => n.NickName, new { @class = "form-control", placeholder = "ชื่อเล่น" })

        @Html.ValidationMessageFor(x => x.Sex, null, new { @class = "error" })
        <div style="display: flex;">
            @Html.RadioButtonFor(n => n.Sex, 0, new { @class = "form-control", placeholder = "ชาย" })
            @Html.LabelFor(n => n.Sex, "ชาย")
            @Html.RadioButtonFor(n => n.Sex, 1, new { @class = "form-control", placeholder = "หญิง" })
            @Html.LabelFor(n => n.Sex, "หญิง")
        </div>
       
        @Html.ValidationMessageFor(x => x.Address, null, new { @class = "error" })
        @Html.TextAreaFor(n => n.Address, new { @class = "form-control", placeholder = "ที่อยู่" })
        @Html.ValidationMessageFor(x => x.Provice, null, new { @class = "error" })
        @Html.TextBoxFor(n => n.Provice, new { @class = "form-control", placeholder = "จังหวัด" })
        @Html.ValidationMessageFor(x => x.Tel, null, new { @class = "error" })
        @Html.TextBoxFor(n => n.Tel, new { @class = "form-control", placeholder = "เบอร์โทรศัพท์" })

        @Html.ValidationMessageFor(x => x.Line, null, new { @class = "error" })
        @Html.TextBoxFor(n => n.Line, new { @class = "form-control", placeholder = "ไลน์" })

        @Html.ValidationMessageFor(x => x.Facebook, null, new { @class = "error" })
        @Html.TextBoxFor(n => n.Facebook, new { @class = "form-control", placeholder = "เฟสบุ๊ค" })
        @Html.ValidationMessageFor(x => x.Ig, null, new { @class = "error" })
        @Html.TextBoxFor(n => n.Ig, new { @class = "form-control", placeholder = "อินตราแกรม" })


        <button class="btn btn-lg btn-primary btn-block" id="btnSubmit" type="submit" onclick='$("#btnSubmit").attr("disabled", true);  $( "form" ).submit();'>อัพเดทข้อมูล</button>

    </form>


</body>
</html>
