﻿
@{
    ViewData["Title"] = "ปริ้น";
    Layout = "~/Views/Main/Index.cshtml";
}


<div class="card" style="margin:10px">
    <div class="card-body">
        <h5 class="card-title">ข้อมูล</h5>

        <table id="table_id" class="display">
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable(
            {
                "processing": true,
                //"serverSide": true,
                "pageLength": 10,
                "ajax": {
                    "url": "/api/QrCode/GetQrCodeAll",
                    "type": "GET",
                    'beforeSend': function (request) {
                        //  request.setRequestHeader("Content-Type", "application/json");
                    }

                },
                "columns": [
                    {
                        "data": "Id", "title": "รหัส"
                    },
                    {
                        "data": "ProductName", "title": "ชื่อ"
                    },
                    { "data": "Qty", "title": "จำนวน" },
                    { "data": "Progress", "title": "เสร็จแล้ว" },
                    {
                        data: "Id",
                        "title": "พิมพ์",
                        render: function (data, type, row) {

                            if (row.GenSuccess)
                                return '<a class="btn btn-primary" href="/Print/GetReport?id='+data+'" target=_blank>พิมพ์</a>';
                            else
                                return '';
                        }
                    }
                ]
            }
        );
    });
   
</script>