﻿
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <base href="">
    <title>@ViewBag.Title</title>


    <link  rel="stylesheet" type="text/css"  href="~/lib/extjs/classic/theme-neptune/resources/theme-neptune-all.css" />
    <link   rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <script  type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script  type="text/javascript" src="~/lib/extjs/ext-all-debug.js"></script>
    <script  type="text/javascript" src="~/lib/extjs/classic/theme-triton/theme-triton.js"></script>
    
</head>
<style>
    .fa-plus-circle {
        color: green;
    }

    .fa-minus-circle {
        color: red;
    }
    .x-window {
        top: 50% !important;
        left: 50% !important;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
</style>
<body>

    @RenderBody()
</body>
</html>
