﻿
@{
    ViewData["Title"] = "หน้าแรก";
    Layout = "~/Views/Index.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Swane</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">ออกจากระบบ</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/Main">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            หน้าแรก <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Product">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                            สินค้า
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Print">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                            ปริ้น Qr
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/User">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                            ผู้ดูแลระบบ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/UserRegister">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                            ตัวแทน
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Login/Logout">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                            ออกจากระบบ
                        </a>
                    </li>

                </ul>


            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            @RenderBody()
        </main>
    </div>
</div>
<style>
       body {
           font-size: .875rem;
       }

       .feather {
           width: 16px;
           height: 16px;
           vertical-align: text-bottom;
       }

       /*
    * Sidebar
    */

       .sidebar {
           position: fixed;
           top: 0;
           bottom: 0;
           left: 0;
           z-index: 100; /* Behind the navbar */
           padding: 48px 0 0; /* Height of navbar */
           box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
       }

       @@media (max-width: 767.98px) {
           .sidebar {
               top: 5rem;
           }
       }

       .sidebar-sticky {
           position: relative;
           top: 0;
           height: calc(100vh - 48px);
           padding-top: .5rem;
           overflow-x: hidden;
           overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
       }

       @@supports ((position: -webkit-sticky) or (position: sticky)) {
           .sidebar-sticky {
               position: -webkit-sticky;
               position: sticky;
           }
       }

       .sidebar .nav-link {
           font-weight: 500;
           color: #333;
       }

           .sidebar .nav-link .feather {
               margin-right: 4px;
               color: #999;
           }

           .sidebar .nav-link.active {
               color: #007bff;
           }

               .sidebar .nav-link:hover .feather,
               .sidebar .nav-link.active .feather {
                   color: inherit;
               }

       .sidebar-heading {
           font-size: .75rem;
           text-transform: uppercase;
       }

       /*
    * Navbar
    */

       .navbar-brand {
           padding-top: .75rem;
           padding-bottom: .75rem;
           font-size: 1rem;
           background-color: rgba(0, 0, 0, .25);
           box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
       }

       .navbar .navbar-toggler {
           top: .25rem;
           right: 1rem;
       }

       .navbar .form-control {
           padding: .75rem 1rem;
           border-width: 0;
           border-radius: 0;
       }

       .form-control-dark {
           color: #fff;
           background-color: rgba(255, 255, 255, .1);
           border-color: rgba(255, 255, 255, .1);
       }

           .form-control-dark:focus {
               border-color: transparent;
               box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
           }
</style>
