﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">


    <script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
</head>
<style>
    body{
        background-color:#808080
    }
</style>
<body>
    <div class="card" style="margin:10px">
        <div class="card-body">
            <h5 class="card-title">Search</h5>

        </div>
    </div>

    <div class="card" style="margin:10px">
        <div class="card-body">
            <h5 class="card-title">Data</h5>

            <button class="btn btn-success">Add</button>
            <br/>
            <table id="table_id" class="display">
     
            </table>
        </div>
    </div>
  
</body>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable(
            {
                "processing": true,
                "serverSide": true,

                "ajax": {
                    "url": "https://localhost:44353/api/CustomerApi/GetCustomersAll",
                    "type": "POST",
                    'beforeSend': function (request) {
                      //  request.setRequestHeader("Content-Type", "application/json");
                    }

                },
                "columns": [
                    { "data": "customerCode" },
                    { "data": "customerName" },
                ]
            }
        );
    });
</script>
</html>
